{{! Ability Details and Config tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="config">
  <div class="item-info-config">
    <div class="item-info-block item-name-block">
      <h5>{{localize "PC.abilityName"}}</h5>
      <input
        name="name"
        value="{{item.name}}"
        placeholder="Nameless Ability"
        type="text"
      />
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.subtype"}}</h5>
      <select name="system.info.subtype">
        {{selectOptions
          config.ability.subtypes
          selected=system.info.subtype
          localize=true
        }}
      </select>
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.art"}}</h5>
      <select name="system.info.art">
        {{selectOptions
          config.ability.arts
          selected=system.info.art
          localize=true
        }}
      </select>
    </div>
    {{#with (lookup config.ability.arts system.info.art) as |art|}}
      {{#if art.categories}}
        <div class="item-info-block">
          <h5>{{localize "PC.category"}}</h5>
          <select name="system.info.category">
            {{selectOptions
              (lookup (lookup ../config.ability.arts ../system.info.art) "categories")
              selected=../system.info.category
              localize=true
            }}
          </select>
        </div>
      {{/if}}
    {{/with}}
  </div>

  <div class="item-info-config">
    <div class="item-info-block">
      <h5>{{localize "PC.xp"}}</h5>
      <input
        class="xp-cost"
        name="system.details.experience"
        type="Number"
        value="{{system.details.experience}}"
        data-dtype="Number"
      />
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.skill"}}</h5>
      <select name="system.details.coreSkill">
        {{selectOptions
          config.skillsNone
          selected=system.details.coreSkill
          localize=true
        }}
      </select>
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.level.abv"}}</h5>
      <input 
        name="system.details.coreLevel"
        value="{{system.details.coreLevel}}"
        type="Number"
        data-dtype="Number"
      />
    </div>
  </div>

  <div class="keyword-title-line">
    <a data-action="keywordPicker">{{localize "PC.keywords"}}
      <i class="fa-regular fa-plus"></i>
    </a></div>
  <div class="item-info-config item-keywords-config">
    {{#each system.keywords}}
      <div class="pc-keyword">
        {{localize (concat "PC.keyword." @key)}}{{#if this}} ({{this}}){{/if}}
        <a data-action="cutKeyword" data-keyword="{{@key}}">
          <i class="fa-regular fa-eraser"></i></a>
      </div>
    {{/each}}
  </div>
</section>