{{! Ability Details and Config tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="config">
  <div class="flexcol">
    <select name="system.info.subtype">
      {{selectOptions
        config.ability.subtypes
        selected=system.info.subtype
        localize=true
      }}
    </select>
    <input
      name="system.info.art"
      type="String"
      value="{{system.info.art}}"
      data-dtype="String"
    />
    <input
      name="system.info.category"
      type="String"
      value="{{system.info.category}}"
      data-dtype="String"
    />
    <div>
      <h4>{{localize "PC.keywords"}}</h4>
      <a data-action="addKeyword"><i class="fa fa-plus"></i></a>
      {{#each system.details.keywords as |keyword obj|}}
        <div class="flexrow">
          <div>
            {{localize (concat "PC.keyword." obj)}}{{#if keyword}}
              ({{keyword}}){{/if}}
          </div>
          <input
            name="system.details.keywords.{{@key}}"
            value="{{keyword}}"
            type="Number"
            data-dtype="Number"
          />
          <a data-action="cutKeyword" data-keyword="{{@key}}">
            <i class="fa-solid fa-trash-can"></i></a>
        </div>
      {{/each}}
    </div>
  </div>
</section>