{{! Ability sheat header }}

<header class="sheet-header ability-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="75"
    height="75"
  />
  <div class="item-header-right">
    <div class="flexrow">
      <h2 class="item-name">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Nameless Ability"
        />
      </h2>
      <div class="experience">
        <input
          name="system.details.experience"
          type="Number"
          value="{{system.details.experience}}"
          data-dtype="Number"
        />
        <div class="separator"></div>
        <div class="xp-name">{{localize "PC.xp"}}</div>
      </div>
    </div>
    <div class="flexrow">
      {{localize (concat "PC.ability.subtypes." system.info.subtype ".label")}}
      {{#if system.info.art}}
        ·
        {{system.info.art}}
      {{/if}}
      {{#if system.info.category}}
        ·
        {{system.info.category}}
      {{/if}}
    </div>
    <div class="flexrow">
      {{#each system.details.keywords as |value key|}}
        <div>{{localize (concat "PC.keyword." key)}}{{#if
            value
          }}({{value}}){{/if}}</div>
      {{/each}}
    </div>
  </div>
</header>