{{! Ability sheat header }}

<header class="sheet-header ability-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="58"
    height="58"
  />
  <div class="item-header-right">
    <div class="item-name-line">
      <h1 class="name item-name">
        {{item.name}}
      </h1>
      <div class="experience">
        <div class="xp-line">
          <input
            class="xp-cost"
            name="system.details.experience"
            type="Number"
            value="{{system.details.experience}}"
            data-dtype="Number"
          />
          <div class="separator"></div>
          <div class="xp-name">{{localize "PC.xp"}}</div>
        </div>
      </div>
    </div>
    <div class="item-info">
      {{localize (concat "PC.ability.subtypes." system.info.subtype ".label")}}
      {{#if system.info.art}}
        ·
        {{localize (concat "PC.ability.arts." system.info.art ".label")}}
      {{/if}}
      {{#if system.info.category}}
        ·
        {{localize
          (concat
            "PC.ability.arts."
            system.info.art
            ".categories."
            system.info.category
          )
        }}
      {{/if}}
    </div>
    <div class="item-sheet-keywords">
      {{#each system.details.keywords as |value key|}}
        <div class="pc-keyword">{{localize (concat "PC.keyword." key)}}{{#if
            value
          }}({{value}}){{/if}}</div>
      {{/each}}
    </div>
  </div>
</header>