{{! Ability sheat header }}

<header class="sheet-header ability-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="89"
    height="89"
  />
  <div class="item-header-right">
    <div class="item-name-line">
      <h1 class="name item-name">
        {{item.name}}
      </h1>
      <div class="experience">
        <div class="xp-line">
          <div class="xp-cost">{{system.details.experience}}</div>
          <div class="separator"></div>
          <div class="xp-name">{{localize "PC.xp"}}</div>
        </div>
      </div>
    </div>
    <div class="item-info">
      {{localize (concat "PC.ability.subtypes." system.info.subtype ".label")}}
      {{#if system.info.art}}
        ·
        {{localize (concat "PC.ability.arts." system.info.art ".label")}}
      {{/if}}
      {{#if system.info.category}}
        ·
        {{localize
          (concat
            "PC.ability.arts."
            system.info.art
            ".categories."
            system.info.category
          )
        }}
      {{/if}}
    </div>
    <div class="item-sheet-keywords">
      {{#each system.keywords as |value key|}}
        {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </div>
  </div>
</header>