{{! Attributes central block }}

<section class="attributes flexrow">
  {{#each config.attributes as |attribute obj|}}
    {{#with (lookup @root.actor.system.attributes obj) as |att|}}
      <div>
        <h3 class="att-name">
          {{#if att.disabled}}{{else}}
            <a
              data-action="clickAttribute"
              data-attribute="{{@key}}"
              data-type="attributes"
            >{{localize attribute.abv}}</a>
          {{/if}}
        </h3>
        <div class="att-field flexrow">
          <input
            class="att-value"
            type="Number"
            name="system.attributes.{{@key}}.override"
            value="{{att.override}}"
            placeholder="{{att.base}}"
            data-dtype="Number"
          />
          <input
            class="att-modifier"
            type="String"
            name="system.attributes.{{@key}}.mod"
            value="{{numberFormat att.mod sign=true}}"
            data-dtype="Number"
          />
        </div>
      </div>
    {{/with}}
  {{/each}}
</section>
<section class="subattributes flexrow">
  <div>
    <h4>{{localize "PC.subattributes.pv.label"}}</h4>
    <div class="flexrow">
      <input
        class="subatt-value"
        type="Number"
        name="system.subattributes.pv.current"
        value="{{system.subattributes.pv.current}}"
        data-dtype="Number"
      />/<input
        class="att-value"
        type="Number"
        name="system.subattributes.pv.override"
        value="{{system.subattributes.pv.override}}"
        placeholder="{{system.subattributes.pv.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <h4>{{localize "PC.subattributes.pe.label"}}</h4>
    <div class="flexrow">
      <input
        class="subatt-value"
        type="Number"
        name="system.subattributes.pe.current"
        value="{{system.subattributes.pe.current}}"
        data-dtype="Number"
      />/<input
        class="att-value"
        type="Number"
        name="system.subattributes.pe.override"
        value="{{system.subattributes.pe.override}}"
        placeholder="{{system.subattributes.pe.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div>
    <h4>{{localize "PC.movement.label"}}</h4>
    <div class="flexrow">
      <input
        type="Number"
        name="system.movement.walk.override"
        value="{{system.movement.walk.override}}"
        placeholder="{{system.movement.walk.base}}"
        data-dtype="Number"
      />>>
      <input
        type="Number"
        name="system.movement.sprint.override"
        value="{{system.movement.sprint.override}}"
        placeholder="{{system.movement.sprint.base}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>