{{! Attributes central block }}

<section class="attributes">
  {{#each config.attributes as |attribute obj|}}
    {{#with (lookup @root.actor.system.attributes obj) as |att|}}
      <div class="attribute-block">
        <h2 class="att-name">
          {{#if att.disabled}}{{else}}
            <a
              data-action="rollAttribute"
              data-attribute="{{@key}}"
              data-type="attributes"
            >{{localize attribute.abv}}</a>
          {{/if}}
        </h2>
        <div class="att-field">
          <div class="att-value">{{att.base}}</div>
          <div class="att-add">
            <input
              class="att-modifier
                {{#if (lt att.mod 0)}}
                  negative
                {{/if}}
                {{#if (gt att.mod 0)}}
                  positive
                {{/if}}"
              type="String"
              name="system.attributes.{{@key}}.mod"
              value="{{numberFormat att.mod sign=true}}"
              data-dtype="Number"
            />
            <div class="att-static">{{att.static}}</div>
          </div>
        </div>
      </div>
      {{#unless @last}}
        <div class="separator"></div>
      {{/unless}}
    {{/with}}
  {{/each}}
</section>
<section class="subattributes">
  <div class="subattribute-block">
    <h4 class="subattribute-name">{{localize "PC.subattributes.pv.shortLabel"}}</h4>
    <div class="subattribute-field resource-field">
      <span
        class="resource-bar pv-bar"
        style="width:{{system.subattributes.pv.percent}}%"
      ></span>
      <div class="resource-line">
        <input
          class="subatt-value subatt-current"
          type="Number"
          name="system.subattributes.pv.value"
          value="{{system.subattributes.pv.value}}"
          data-dtype="Number"
        />/<div class="subatt-value subatt-max">
          {{system.subattributes.pv.max}}
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="subattribute-block">
    <h4 class="subattribute-name">{{localize "PC.subattributes.pe.shortLabel"}}</h4>
    <div class="subattribute-field resource-field">
      <span
        class="resource-bar pe-bar"
        style="width:{{system.subattributes.pe.percent}}%"
      ></span>
      <div class="resource-line">
        <input
          class="subatt-value subatt-current"
          type="Number"
          name="system.subattributes.pe.value"
          value="{{system.subattributes.pe.value}}"
          data-dtype="Number"
        />/<div class="subatt-value subatt-max">
          {{system.subattributes.pe.max}}
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="subattribute-block">
    <h4 class="subattribute-name movement">{{localize "PC.movement.label"}}</h4>
    <div class="subattribute-field">
      <input
        class="subatt-value"
        type="Number"
        name="system.movement.walk.override"
        value="{{system.movement.walk.override}}"
        placeholder="{{system.movement.walk.base}}"
        data-dtype="Number"
      />>>
      <input
        class="subatt-value"
        type="Number"
        name="system.movement.sprint.override"
        value="{{system.movement.sprint.override}}"
        placeholder="{{system.movement.sprint.base}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>