{{! Attributes central block }}

<section class="attributes">
  {{#each config.attributes as |attribute obj|}}
    {{#with (lookup @root.actor.system.attributes obj) as |att|}}
      <div class="attribute-block">
        <h2 class="att-name">
          {{#if att.disabled}}{{else}}
            <a
              data-action="clickAttribute"
              data-attribute="{{@key}}"
              data-type="attributes"
            >{{localize attribute.abv}}</a>
          {{/if}}
        </h2>
        <div class="att-field">
          <input
            class="att-value"
            type="Number"
            name="system.attributes.{{@key}}.override"
            value="{{att.override}}"
            placeholder="{{att.base}}"
            data-dtype="Number"
          />
          <div class="att-add">
            <input
              class="att-modifier"
              type="String"
              name="system.attributes.{{@key}}.mod"
              value="{{numberFormat att.mod sign=true}}"
              data-dtype="Number"
            />
            <div class="att-static">{{att.static}}</div>
          </div>
        </div>
      </div>
      {{#unless @last}}
        <div class="separator"></div>
      {{/unless}}
    {{/with}}
  {{/each}}
</section>
<section class="subattributes">
  <div class="subattribute-block">
    <h4 class="subattribute-name">{{localize "PC.subattributes.pv.label"}}</h4>
    <div class="subattribute-field resource-field">
      <span
        class="resource-bar pv-bar"
        style="width:{{system.subattributes.pv.percent}}%"
      ></span>
      <div class="resource-line">
        <input
          class="subatt-value subatt-current"
          type="Number"
          name="system.subattributes.pv.current"
          value="{{system.subattributes.pv.current}}"
          data-dtype="Number"
        />/<input
          class="subatt-value subatt-max"
          type="Number"
          name="system.subattributes.pv.override"
          value="{{system.subattributes.pv.override}}"
          placeholder="{{system.subattributes.pv.max}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="subattribute-block">
    <h4 class="subattribute-name">{{localize "PC.subattributes.pe.label"}}</h4>
    <div class="subattribute-field resource-field">
      <span
        class="resource-bar pe-bar"
        style="width:{{system.subattributes.pe.percent}}%"
      ></span>
      <div class="resource-line">
        <input
          class="subatt-value subatt-current"
          type="Number"
          name="system.subattributes.pe.current"
          value="{{system.subattributes.pe.current}}"
          data-dtype="Number"
        />/<input
          class="subatt-value subatt-max"
          type="Number"
          name="system.subattributes.pe.override"
          value="{{system.subattributes.pe.override}}"
          placeholder="{{system.subattributes.pe.max}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="subattribute-block">
    <h4 class="subattribute-name">{{localize "PC.movement.label"}}</h4>
    <div class="subattribute-field">
      <input
        class="subatt-value"
        type="Number"
        name="system.movement.walk.override"
        value="{{system.movement.walk.override}}"
        placeholder="{{system.movement.walk.base}}"
        data-dtype="Number"
      />>>
      <input
        class="subatt-value"
        type="Number"
        name="system.movement.sprint.override"
        value="{{system.movement.sprint.override}}"
        placeholder="{{system.movement.sprint.base}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>