<ol class="item-list">
  <div class="item-group-title">
    <div class="empty-space"></div>
    <h3>{{localize "PC.items"}}</h3>
    <div class="item-sorting"></div>
  </div>
  {{#each system.gear as |gear obj|}}
    <li class="item-block">
      <div class="item-line">
        <img class="icon-mid" src="{{this.img}}" width="24" height="24" />
        <div class="item-title">
          <h4>{{this.name}}</h4>
        </div>

        <div class="item-keywords">
          {{#each system.keywords}}
            <div class="pc-keyword">
              <div class="pc-keyword-label">{{localize
                  (concat "PC.keyword." @key)
                }}</div>{{#if this}}<div
                  class="pc-keyword-value"
                >({{this}})</div>{{/if}}
            </div>
          {{/each}}
          {{#each system.actions}}
            {{#each this.keywords}}
              <div class="pc-keyword pc-secondary-keyword">
                <div class="pc-keyword-label">{{localize
                    (concat "PC.keyword." @key)
                  }}</div>{{#if this}}<div
                    class="pc-keyword-value"
                  >({{this}})</div>{{/if}}
              </div>
            {{/each}}
          {{/each}}
        </div>

        <div class="persona-actions">
          {{#each system.actions as |action key|}}
            {{#if (eq action.type "attack")}}
              <a 
                class="persona-action ac-attack draggable"
                data-action="rollAttack"
                data-item-id="{{../this._id}}"
                data-ac-id="{{action._id}}"
              >
                <img
                  class="action-image"
                  src="{{action.img}}"
                  width="16"
                  height="16"
                  draggable="false"
                />
                {{#if action.name}}
                  <div class="action-name">{{action.name}}</div>
                {{else}}
                  <div class="action-name">{{localize
                      "PC.action.types.attack.label"
                    }}</div>
                {{/if}}
              </a>
            {{/if}}
            {{#if (eq action.type "test")}}
              <a
                class="persona-action ac-test draggable"
                data-action="rollTest"
                data-item-id="{{../this._id}}"
                data-ac-id="{{action._id}}"
              >
                <img
                  class="action-image"
                  src="{{action.img}}"
                  width="16"
                  height="16"
                  draggable="false"
                />
                {{#if action.name}}
                  <div class="action-name">{{action.name}}</div>
                {{else}}
                  <div class="action-name">{{localize
                      "PC.action.types.test.label"
                    }}</div>
                {{/if}}
              </a>
            {{/if}}
            {{#if (eq action.type "use")}}
              <a
                class="persona-action ac-use draggable"
                data-action="useGear"
                data-item-id="{{../this._id}}"
                data-ac-id="{{action._id}}"
              >
                <img
                  class="action-image"
                  src="{{action.img}}"
                  width="16"
                  height="16"
                  draggable="false"
                />
                {{#if action.name}}
                  <div class="action-name">{{action.name}}</div>
                {{else}}
                  <div class="action-name">{{localize
                      "PC.action.types.use.label"
                    }}</div>
                {{/if}}
              </a>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-stack">
          {{#if this.system.details.stackable}}
            <input
              class="stack-input"
              type="number"
              value="{{this.system.details.stack}}"
              data-dtype="Number"
              min="0"
              data-field="system.details.stack"
              data-item-id="{{this._id}}"
            />
            <div class="stack-separator">/</div>
            <div class="stack-max">{{this.system.details.stackMax}}</div>
          {{/if}}
        </div>

        <div class="item-controls">
          {{#if this.system.details.equippable}}
            <a
              data-action="clickEquip"
              data-item-id="{{this._id}}"
              data-equip="true"
              title="{{localize 'PC.equip'}}"
            >
              <i class="fa-regular fa-arrow-up-from-arc"></i>
            </a>
          {{/if}}
          {{#if (isEmpty this.system.actions)}}
            <div class="disabled-control">
              <i class="fa-regular fa-arrows-from-line"></i>
            </div>
          {{else}}
            <a
              data-action="toggleExpand"
              data-item-id="{{this._id}}"
              title="{{localize 'PC.expandCollapseActions'}}"
            >
              {{#if this.flags.pars-crucis.expanded}}
                <i class="fa-regular fa-arrows-to-line"></i>
              {{else}}
                <i class="fa-regular fa-arrows-from-line"></i>
              {{/if}}
            </a>
          {{/if}}
          <a
            data-action="clickEdit"
            data-item-id="{{this._id}}"
            title="{{localize 'PC.edit'}}"
          >
            <i class="fa-regular fa-edit"></i>
          </a>
          <a
            data-action="clickDelete"
            data-item-id="{{this._id}}"
            title="{{localize 'PC.delete'}}"
          >
            <i class="fa-regular fa-trash-can"></i>
          </a>
        </div>
      </div>
      {{#if this.flags.pars-crucis.expanded}}
        <ol class="gear-actions">
          {{#each this.system.actions}}
            {{> systems/pars-crucis/templates/actor/blocks/action.hbs itemId=../this._id}}
          {{/each}}
        </ol>
      {{/if}}
    </li>
  {{/each}}
</ol>