<section class="minors flexcol">
  {{#each config.minor as |minor obj|}}
    {{#with (lookup @root.actor.system.minors obj) as |min|}}
      <div class="flexrow">
        <h4 class="minor-name">
          {{#if att.disabled}}{{else}}
            <a>{{localize minor.label}}</a>
          {{/if}}
        </h4>
        <input
          class="minor-value"
          type="number"
          name="system.minors.{{@key}}.override"
          value="{{min.override}}"
          placeholder="{{min.base}}"
          data-dtype="Number"
        />
        <input
          class="minor-modifier"
          type="number"
          name="system.minors.{{@key}}.mod"
          value="{{min.mod}}"
          data-dtype="Number"
        />
      </div>
    {{/with}}
  {{/each}}
</section>