{{! Minors block }}

<section class="minors">
  <div class="minor-block">
    <h4 class="luck-name">
      {{#if system.luck.disabled}}{{else}}
        <div>{{localize "PC.luck"}}</div>
      {{/if}}
    </h4>
    <div class="luck-num">
      {{#each system.luck.booleans as |boolean obj|}}
        {{#if boolean}}
          <a
            class="luck-mark"
            data-action="switchLuck"
            data-luck-index={{@key}}
          ><div>O</div></a>
        {{else}}
          <a
            class="luck-mark"
            data-action="switchLuck"
            data-luck-index={{@key}}
          ><div>X</div></a>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="separator"></div>
  {{#each config.minors as |minor obj|}}
    {{#with (lookup @root.actor.system.minors obj) as |min|}}
      <div class="minor-block">
        <h4>
          {{#if att.disabled}}{{else}}
            <a
              data-action="rollAttribute"
              data-attribute="{{@key}}"
              data-att-type="minors"
            >{{localize minor.label}}</a>
          {{/if}}
        </h4>
        <div class="minor-line">
          <div class="minor-value">
            {{min.base}}
          </div>
          <input
            class="minor-modifier
              {{#if (lt min.mod 0)}}
                negative
              {{/if}}
              {{#if (gt min.mod 0)}}
                positive
              {{/if}}""
            type="String"
            name="system.minors.{{@key}}.mod"
            value="{{numberFormat min.mod sign=true}}"
            data-dtype="Number"
          />
        </div>
      </div>
      {{#unless @last}}
        <div class="separator"></div>
      {{/unless}}
    {{/with}}
  {{/each}}
</section>