{{! Minors block }}

<section class="minors flexcol">
  <div class="flexrow">
    <h4 class="luck-name">
      {{#if system.luck.disabled}}{{else}}
        <div>{{localize "PC.luck"}}</div>
      {{/if}}
    </h4>
    <div class="luck-num flexrow">
      {{#each system.luck.booleans as |boolean obj|}}
        {{#if boolean}}
          <a
            class="luck-mark"
            data-action="clickLuck"
            data-luck-index={{@key}}
          ><div>O</div></a>
        {{else}}
          <a
            class="luck-mark"
            data-action="clickLuck"
            data-luck-index={{@key}}
          ><div>X</div></a>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{#each config.minors as |minor obj|}}
    {{#with (lookup @root.actor.system.minors obj) as |min|}}
      <div class="minor-row flexrow">
        <h4 class="minor-name">
          {{#if att.disabled}}{{else}}
            <a
              data-action="clickAttribute"
              data-attribute="{{@key}}"
              data-type="minors"
            >{{localize minor.label}}</a>
          {{/if}}
        </h4>
        <input
          class="minor-value"
          type="Number"
          name="system.minors.{{@key}}.override"
          value="{{min.override}}"
          placeholder="{{min.base}}"
          data-dtype="Number"
        />
        <input
          class="minor-modifier"
          type="String"
          name="system.minors.{{@key}}.mod"
          value="{{numberFormat min.mod sign=true}}"
          data-dtype="Number"
        />
      </div>
    {{/with}}
  {{/each}}
</section>