{{! Mitigation block }}

<section class="mitigation">
  <div class="mitigation-aux">{{localize "PC.robust.label"}}</div>
  <div class="mitigation-mainline">
    <div class="mitigation-field ar-field">
      <h4 class="ar-title">{{localize "PC.armor.abv"}}</h4>
      <input
        class="mitigation-value ar-value"
        name="system.mitigation.armor.override"
        value="{{system.mitigation.armor.override}}"
        placeholder="{{system.mitigation.armor.base}}"
        type="number"
        data-dtype="Number"
      />
    </div>

    <div class="mitigation-aux-col">
      <div class="aux-line">
        {{#if system.mitigation.robust.override}}
          <input
            class="aux-value"
            name="system.mitigation.robust.override"
            value="{{numberFormat system.mitigation.robust.override sign=true}}"
            type="text"
            data-dtype="Number"
          />
        {{else}}
          <input
            class="aux-value"
            name="system.mitigation.robust.override"
            value="{{system.mitigation.robust.override}}"
            placeholder="{{numberFormat
              system.mitigation.robust.base
              sign=true
            }}"
            type="text"
            data-dtype="Number"
          />
        {{/if}}
      </div>
      <div class="aux-line">
        {{#if system.mitigation.insulant.override}}
          <input
            class="aux-value"
            name="system.mitigation.insulant.override"
            value="{{numberFormat
              system.mitigation.insulant.override
              sign=true
            }}"
            type="text"
            data-dtype="Number"
          />
        {{else}}
          <input
            class="aux-value"
            name="system.mitigation.insulant.override"
            value="{{system.mitigation.insulant.override}}"
            placeholder="{{numberFormat
              system.mitigation.insulant.base
              sign=true
            }}"
            type="text"
            data-dtype="Number"
          />
        {{/if}}
      </div>
    </div>

    <div class="mitigation-field ab-field">
      <input
        class="mitigation-value ab-value"
        name="system.mitigation.abascant.override"
        value="{{system.mitigation.abascant.override}}"
        placeholder="{{system.mitigation.abascant.base}}"
        type="number"
        data-dtype="Number"
      />
      <h4 class="ab-title">{{localize "PC.abascant.abv"}}</h4>
    </div>
  </div>
  <div class="mitigation-aux">{{localize "PC.insulant.label"}}</div>
</section>