<li class="inline-action">
  <span 
    class="inline-head
    {{#if (eq this.type "test")}}test{{/if}}
    {{#if (eq this.type "use")}}use{{/if}}"
    data-action="callAction"
    data-ac-id="{{@key}}"
    data-ac-type="{{this.type}}"
    data-item-id="{{itemId}}"
    >
    <img class="inline-icon" src="{{this.img}}" width="16" height="16" />
    <span class="inline-action-name">{{this.name}}</span>
  </span>

  {{#if (eq this.type "tech")}}
    <button
      type="button"
      class="pick-action inline-button"
      data-action="actionPicker"
      data-ac-id="{{@key}}"
      data-item-id="{{itemId}}"
    >
      {{#if this.ready}}
        <span class="inline-label">{{localize "PC.with"}}</span>
        <img class="inline-icon" src="{{this.selectedItem.img}}" width="16" height="16" />
        <span class="inline-action-name inline-selected">{{this.selectedItem.name}}:</span>
        <img class="inline-icon" src="{{this.selectedAction.img}}" width="16" height="16" />
        <span class="inline-action-name inline-selected">{{this.selectedAction.name}}</span>
      {{else}}
        <span class="placeholder">{{localize "PC.selectAction"}}</span>
      {{/if}}
    </button>
  {{/if}}

  {{#if (and this.skill (not this.subtype))}}
    <span class="inline-value inline-skill">
      {{log this}}
      {{#if (eq this.skill "inherit")}}
        ({{localize (concat "PC.skills." this.action.skill)}})
      {{else}}
        ({{localize (concat "PC.skills." this.skill)}})
      {{/if}}
    </span>
  {{/if}}
  {{#if (and (not this.skill) this.subtype)}}
    <span class="inline-value inline-skill">
      ({{localize (concat "PC.action.types.attack.subtype." this.subtype)}})
    </span>
  {{/if}}
  {{#if (and this.skill this.subtype)}}
    <span class="inline-value inline-skill">
      ({{localize (concat "PC.skills." this.techSkill)}}      
      | {{localize (concat "PC.action.types.attack.subtype." this.techSubtype)}})
    </span>
  {{/if}}

  {{log this}}
  {{#if (not (isEmpty this.techKeywords))}}
    <span class="item-keywords">
      {{#each this.techKeywords}}
        <span class="pc-keyword">
          <span class="pc-keyword-label">{{localize
              (concat "PC.keyword." @key)
            }}</span>{{#if this}}<span
              class="pc-keyword-value"
            >({{this}})</span>{{/if}}
        </span>
      {{/each}}
    </span>
  {{/if}}

  {{#if this.usage}}
    <span class="inline-label">{{localize "PC.action.types.use.label"}}</span>
    <span class="inline-value">{{this.usage}}</span>
  {{/if}}
  {{#if this.effort}}
    <span class="inline-label">{{localize "PC.effort.abv"}}</span>
    <span class="inline-value">{{this.effort}}</span>
  {{/if}}
  {{#if this.prepTime}}
    <span class="inline-label">{{localize "PC.prepTime.abv"}}</span>
    <span class="inline-value">{{this.prepTime}}</span>
  {{/if}}
  {{#if this.difficulty}}
    <span class="inline-label">{{localize "PC.difficulty.label"}}</span>
    <span class="inline-value">{{this.difficulty}}</span>
  {{/if}}
  {{#if this.range}}
    <span class="inline-label">{{localize "PC.range.label"}}</span>
    <span class="inline-value">{{this.range}}</span>
  {{/if}}
  {{#if this.damaging}}
    <span class="inline-label">{{localize "PC.damage"}}</span>
    <span class="inline-value">{{this.damage.dmgTxt}}</span>
  {{/if}}
  {{#if this.effect}}
    <span class="inline-label">{{localize "PC.effect"}}</span>
    <span class="inline-value">{{this.effect}}</span>
  {{/if}}
  {{#if this.duration}}
    <span class="inline-label">{{localize "PC.duration.label"}}</span>
    <span class="inline-value">{{this.duration}}</span>
  {{/if}}
</li>