{{! Abilities tab }}

<section
  class="tab persona-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="abilities"
>
  <div class="item-list-block abilities-list-block">
    {{#if system.abilities}}
      {{#each categorized.abilities as |abilityGroups obj|}}
        <ol class="item-list">
          <div class="item-group-title">
            <div class="empty-space"></div>
            <h3>
              <div>{{localize
                  (concat "PC.ability.arts." obj ".groupLabel")
                }}</div>
            </h3>
            <div class="item-sorting">
              <a
                data-action="sortAbilities"
                data-sort-mode="coreLevel-asc"
                data-group="{{@key}}"
                class="{{#if (eq (lookup (lookup ../actor.flags "pars-crucis") @key) "coreLevel-asc")}}active{{/if}}"
              ><i class="fa-regular fa-arrow-down-1-9"></i></a>
              <a
                data-action="sortAbilities"
                data-sort-mode="coreLevel-desc"
                data-group="{{@key}}"
                class="{{#if (eq (lookup (lookup ../actor.flags "pars-crucis") @key) "coreLevel-desc")}}active{{/if}}"
              ><i class="fa-regular fa-arrow-down-9-1"></i></a>
              <a
                data-action="sortAbilities"
                data-sort-mode="name-asc"
                data-group="{{@key}}"
                class="{{#if (eq (lookup (lookup ../actor.flags "pars-crucis") @key) "name-asc")}}active{{/if}}"
              ><i class="fa-regular fa-arrow-down-a-z"></i></a>
              <a
                data-action="sortAbilities"
                data-sort-mode="name-desc"
                data-group="{{@key}}"
                class="{{#if (eq (lookup (lookup ../actor.flags "pars-crucis") @key) "name-desc")}}active{{/if}}"
              ><i class="fa-regular fa-arrow-down-z-a"></i></a>
            </div>
          </div>
          {{#each abilityGroups as |ability obj|}}
            <li class="item-block">
              <div class="item-line">
                <img class="icon-mid" src="{{ability.img}}" width="24" height="24" />
                <div class="item-title">
                  <h4>{{ability.name}}</h4>
                </div>

                <div class="item-keywords">
                  {{#each ability.system.keywords as |value keyword|}}
                    <div class="pc-keyword">
                      <div class="pc-keyword-label">{{localize
                          (concat "PC.keyword." keyword)
                        }}</div>{{#if value}}<div
                          class="pc-keyword-value"
                        >({{value}})</div>{{/if}}
                    </div>
                  {{/each}}
                  {{#each ability.system.actions}}
                    {{#each this.keywords}}
                      <div class="pc-keyword pc-secondary-keyword">
                        <div class="pc-keyword-label">{{localize
                            (concat "PC.keyword." @key)
                          }}</div>{{#if this}}<div
                            class="pc-keyword-value"
                          >({{this}})</div>{{/if}}
                      </div>
                    {{/each}}
                  {{/each}}
                </div>

                <div class="persona-actions">
                  {{#each ability.system.actions as |action key|}}
                    {{#if (eq action.type "attack")}}
                      <a
                        class="persona-action ac-attack draggable"
                        data-action="rollAbilityAttack"
                        data-item-id="{{ability._id}}"
                        data-ac-id="{{action._id}}"
                      >
                        <img
                          class="action-image"
                          src="{{action.img}}"
                          width="16"
                          height="16"
                          draggable="false"
                        />
                        {{#if action.name}}
                          <div class="action-name">{{action.name}}</div>
                        {{/if}}
                      </a>
                    {{/if}}
                    {{#if (eq action.type "tech")}}
                      {{#if action.ready}}
                        <a
                          class="persona-action ac-attack draggable"
                          data-action="rollTech"
                          data-item-id="{{ability._id}}"
                          data-ac-id="{{action._id}}"
                        >
                          <img
                            class="action-image"
                            src="{{action.img}}"
                            width="16"
                            height="16"
                            draggable="false"
                          />
                          {{#if action.name}}
                            <div class="action-name">{{action.name}}</div>
                          {{/if}}
                        </a>
                      {{else}}
                        <div class="persona-action ac-attack disabled-action">
                          <img
                            class="action-image"
                            src="{{action.img}}"
                            width="16"
                            height="16"
                          />
                          {{#if action.name}}
                            <div class="action-name">{{action.name}}</div>
                          {{/if}}
                        </div>
                      {{/if}}
                    {{/if}}
                    {{#if (eq action.type "test")}}
                      <a
                        class="persona-action ac-test draggable"
                        data-action="rollTest"
                        data-item-id="{{ability._id}}"
                        data-ac-id="{{action._id}}"
                      >
                        <img
                          class="action-image"
                          src="{{action.img}}"
                          width="16"
                          height="16"
                          draggable="false"
                        />
                        {{#if action.name}}
                          <div class="action-name">{{action.name}}</div>
                        {{/if}}
                      </a>
                    {{/if}}
                    {{#if (eq action.type "use")}}
                      <a
                        class="persona-action ac-use draggable"
                        data-action="useAbility"
                        data-item-id="{{ability._id}}"
                        data-ac-id="{{action._id}}"
                      >
                        <img
                          class="action-image"
                          src="{{action.img}}"
                          width="16"
                          height="16"
                          draggable="false"
                        />
                        {{#if action.name}}
                          <div class="action-name">{{action.name}}</div>
                        {{/if}}
                      </a>
                    {{/if}}
                  {{/each}}
                </div>

                <div class="item-controls">
                  {{#if (isEmpty ability.system.actions)}}
                    <div class="disabled-control">
                      <i class="fa-regular fa-arrows-from-line"></i>
                    </div>
                  {{else}}
                    <a
                      data-action="toggleExpand"
                      data-item-id="{{this._id}}"
                      title="{{localize 'PC.expandCollapseActions'}}"
                    >
                      {{#if this.flags.pars-crucis.expanded}}
                        <i class="fa-regular fa-arrows-to-line"></i>
                      {{else}}
                        <i class="fa-regular fa-arrows-from-line"></i>
                      {{/if}}
                    </a>
                  {{/if}}
                  <a
                    data-action="clickEdit"
                    data-item-id="{{ability._id}}"
                    title="{{localize 'PC.edit'}}"
                  >
                    <i class="fa-regular fa-edit"></i>
                  </a>
                  <a
                    data-action="clickDelete"
                    data-item-id="{{ability._id}}"
                    title="{{localize 'PC.delete'}}"
                  >
                    <i class="fa-regular fa-eraser"></i>
                  </a>
                </div>
              </div>
              {{#if ability.flags.pars-crucis.expanded}}
                <ol class="ability-actions">
                  {{#each ability.system.actions}}
                    {{#if (eq this.type "tech")}}
                      {{> systems/pars-crucis/templates/actor/blocks/tech-action.hbs itemId=../this._id}}
                    {{else}}
                      {{> systems/pars-crucis/templates/actor/blocks/action.hbs itemId=../this._id}}
                    {{/if}}
                  {{/each}}
                </ol>
              {{/if}}
            </li>
          {{/each}}
        </ol>
      {{/each}}
    {{else}}
      <ol class="item-list">
        <div class="item-group-title empty-group-title">
          <div class="empty-space"></div>
          <h3 class="empty-list-title">
            <div>{{localize "PC.noAbilities"}}</div>
          </h3>
          <div class="empty-space"></div>
        </div>
      </ol>
    {{/if}}
  </div>
</section>