{{! Abilities tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="abilities">
  <div class="abilities-tab">
    <h4>
      <div>{{localize "PC.tabs.abilities"}}</div>
    </h4>
    <ol>
      {{#each system.abilities as |ability obj|}}
        <li class="ability-block">
          <div class="ability-line">
            <img src="{{ability.img}}" width="24" height="24" />
            <h5>{{ability.name}}</h5>

            <div>
              {{#each ability.system.details.keywords as |value keyword|}}
                {{localize (concat "PC.keyword." keyword)}}{{#if
                  value
                }}({{value}}){{/if}}{{#unless @last}},
                {{/unless}}
              {{/each}}
            </div>

            <div class="flexrow">
              {{#each ability.system.actions as |action key|}}
                <a class="">
                  {{#if (eq action.type "attack")}}<i
                      class="fa-solid fa-hammer"
                    ></i>{{/if}}
                  {{#if (eq action.type "test")}}<i
                      class="fa-solid fa-dice-d6"
                    ></i>{{/if}}
                  {{#if (eq action.type "direct")}}<i
                      class="fa-solid fa-jar"
                    ></i>{{/if}}
                  {{action.name}}
                </a>
              {{/each}}
            </div>

            <div>
              <a>
                {{localize "PC.expand"}}
              </a>
            </div>

            <div>
              <a
                data-action="clickEdit"
                data-item-id="{{ability._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{ability._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </div>
          <div class="ability-actions">
            {{#each ability.system.actions as |action key|}}
              <div>{{action.name}}{{#if (eq action.type "attack")}},
                  {{localize
                    (concat "PC.action.types.attack.subtype." action.subtype)
                  }}{{/if}}{{#if (eq action.type "test")}}, dif{{action.difficulty}}{{/if}},
                {{localize
                  (concat "PC.action.types." action.type ".label")
                }}</div>
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</section>