{{! Gear tab }}

<section
  class="tab persona-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="gear"
>
  <div class="item-list-block">
    <ol class="item-list weapons-list">
      <div class="item-group-title">
        <div class="empty-space"></div>
        <h4>{{localize "PC.weaponry"}}</h4>
        <div class="item-sorting"></div>
      </div>
      {{#each system.weaponry as |weapon obj|}}
        <li class="item-block">
          <div class="item-line">
            <img class="icon-mid" src="{{weapon.img}}" width="24" height="24" />
            <div class="item-title">
              <h5 class="gear-name weapon-name">{{weapon.name}}</h5>
            </div>

            <div class="item-keywords">
              {{#each weapon.system.keywords as |value keyword|}}
                <div class="pc-keyword">
                  <div class="pc-keyword-label">{{localize
                      (concat "PC.keyword." keyword)
                    }}</div>{{#if value}}<div
                      class="pc-keyword-value"
                    >({{value}})</div>{{/if}}{{#unless @last}}{{/unless}}
                </div>
              {{/each}}
            </div>

            <div class="persona-actions weapon-actions">
              {{#each weapon.system.actions as |action key|}}
                {{#if (eq action.type "attack")}}
                  <a
                    class="persona-action ac-attack"
                    data-action="clickGearAttack"
                  >
                    <img
                      class="action-image"
                      src="{{action.img}}"
                      width="16"
                      height="16"
                    />
                    {{#if action.name}}
                      <div class="action-name">{{action.name}}</div>
                    {{else}}
                      <div class="action-name">{{localize
                          "PC.action.types.attack.label"
                        }}</div>
                    {{/if}}
                  </a>
                {{/if}}
                {{#if (eq action.type "test")}}
                  <a class="persona-action ac-test" data-action="clickGearTest">
                    <img
                      class="action-image"
                      src="{{action.img}}"
                      width="16"
                      height="16"
                    />
                    {{#if action.name}}
                      <div class="action-name">{{action.name}}</div>
                    {{else}}
                      <div class="action-name">{{localize
                          "PC.action.types.test.label"
                        }}</div>
                    {{/if}}
                  </a>
                {{/if}}
                {{#if (eq action.type "use")}}
                  <a class="persona-action ac-use" data-action="clickGearUse">
                    <img
                      class="action-image"
                      src="{{action.img}}"
                      width="16"
                      height="16"
                    />
                    {{#if action.name}}
                      <div class="action-name">{{action.name}}</div>
                    {{else}}
                      <div class="action-name">{{localize
                          "PC.action.types.use.label"
                        }}</div>
                    {{/if}}
                  </a>{{/if}}
              {{/each}}
            </div>

            <div class="item-controls">
              {{#if weapon.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{weapon._id}}"
                  data-equip="false"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-regular fa-backpack"></i>
                </a>
              {{/if}}
              <a
                data-action="toggleExpand"
                data-item-id="{{weapon._id}}"
                title="{{localize 'PC.expandCollapseActions'}}"
              >
                {{#if weapon.flags.pars-crucis.expanded}}
                  <i class="fa-regular fa-arrows-to-line"></i>
                {{else}}
                  <i class="fa-regular fa-arrows-from-line"></i>
                {{/if}}
              </a>
              <a
                data-action="clickEdit"
                data-item-id="{{weapon._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fa-regular fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{weapon._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-regular fa-trash-can"></i>
              </a>
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
    <ol class="item-list vest-list">
      <div class="item-group-title">
        <div class="empty-space"></div>
        <h4>{{localize "PC.wear"}}</h4>
        <div class="item-sorting"></div>
      </div>
      {{#if (and system.vest system.accessories)}}
        {{#each system.vest as |vest obj|}}
          <li class="item-block">
            <div class="item-line">
              <img class="icon-mid" src="{{vest.img}}" width="24" height="24" />
              <div class="item-title">
                <h5>{{vest.name}}</h5>
              </div>

              <div class="item-keywords"></div>
              <div class="persona-actions"></div>

              <div class="item-controls">
                {{#if vest.system.details.equippable}}
                  <a
                    data-action="clickEquip"
                    data-item-id="{{vest._id}}"
                    data-equip="false"
                    title="{{localize 'PC.equip'}}"
                  >
                    <i class="fa-regular fa-backpack"></i>
                  </a>
                {{/if}}
                <a
                  data-action="toggleExpand"
                  data-item-id="{{vest._id}}"
                  title="{{localize 'PC.expandCollapseActions'}}"
                >
                  {{#if vest.flags.pars-crucis.expanded}}
                    <i class="fa-regular fa-arrows-to-line"></i>
                  {{else}}
                    <i class="fa-regular fa-arrows-from-line"></i>
                  {{/if}}
                </a>
                <a
                  data-action="clickEdit"
                  data-item-id="{{vest._id}}"
                  title="{{localize 'PC.edit'}}"
                >
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a
                  data-action="clickDelete"
                  data-item-id="{{vest._id}}"
                  title="{{localize 'PC.delete'}}"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </div>
            </div>
          </li>
        {{/each}}
        {{#each system.accessories as |acc obj|}}
          <li class="item-block">
            <div class="item-line">
              <img class="icon-mid" src="{{acc.img}}" width="24" height="24" />
              <div class="item-title">
                <h5>{{acc.name}}</h5>
              </div>

              <div class="item-keywords"></div>
              <div class="persona-actions"></div>

              <div class="item-controls">
                {{#if acc.system.details.equippable}}
                  <a
                    data-action="clickEquip"
                    data-item-id="{{acc._id}}"
                    data-equip="false"
                    title="{{localize 'PC.equip'}}"
                  >
                    <i class="fa-regular fa-backpack"></i>
                  </a>
                {{/if}}
                <a
                  data-action="toggleExpand"
                  data-item-id="{{acc._id}}"
                  title="{{localize 'PC.expandCollapseActions'}}"
                >
                  {{#if acc.flags.pars-crucis.expanded}}
                    <i class="fa-regular fa-arrows-to-line"></i>
                  {{else}}
                    <i class="fa-regular fa-arrows-from-line"></i>
                  {{/if}}
                </a>
                <a
                  data-action="clickEdit"
                  data-item-id="{{acc._id}}"
                  title="{{localize 'PC.edit'}}"
                >
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a
                  data-action="clickDelete"
                  data-item-id="{{acc._id}}"
                  title="{{localize 'PC.delete'}}"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </div>
            </div>
          </li>
        {{/each}}
      {{/if}}
    </ol>
    <ol class="item-list">
      <div class="item-group-title">
        <div class="empty-space"></div>
        <h4>{{localize "PC.items"}}</h4>
        <div class="item-sorting"></div>
      </div>
      {{#each system.gear as |gear obj|}}
        <li class="item-block">
          <div class="item-line">
            <img class="icon-mid" src="{{gear.img}}" width="24" height="24" />
            <div class="item-title">
              <h5>{{gear.name}}</h5>
            </div>

            <div class="item-keywords"></div>
            <div class="persona-actions"></div>

            <div class="item-controls">
              {{#if gear.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{gear._id}}"
                  data-equip="true"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-regular fa-arrow-up-from-arc"></i>
                </a>
              {{/if}}
              <a
                data-action="toggleExpand"
                data-item-id="{{gear._id}}"
                title="{{localize 'PC.expandCollapseActions'}}"
              >
                {{#if gear.flags.pars-crucis.expanded}}
                  <i class="fa-regular fa-arrows-to-line"></i>
                {{else}}
                  <i class="fa-regular fa-arrows-from-line"></i>
                {{/if}}
              </a>
              <a
                data-action="clickEdit"
                data-item-id="{{gear._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fa-regular fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{gear._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-regular fa-trash-can"></i>
              </a>
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="tab-footer currency-bank">
    <div class="currency-line silver">
      <input
        class="currency-input"
        name="system.currency.silver"
        type="number"
        value="{{system.currency.silver}}"
        data-dtype="Number"
        placeholder="0"
        min="0"
      />
      <div class="currency-desc">
        {{#if (gt system.currency.silver 1)}}
          {{localize "PC.currency.silver.labelPlural"}}
        {{else}}
          {{localize "PC.currency.silver.label"}}
        {{/if}}
      </div>
    </div>
    <div class="separator"></div>
    <div class="currency-line copper">
      <input
        class="currency-input"
        name="system.currency.copper"
        type="number"
        value="{{system.currency.copper}}"
        data-dtype="Number"
        placeholder="0"
        min="0"
      />
      <div class="currency-desc">
        {{#if (gt system.currency.copper 1)}}
          {{localize "PC.currency.copper.labelPlural"}}
        {{else}}
          {{localize "PC.currency.copper.label"}}
        {{/if}}
      </div>
    </div>
  </div>
</section>