{{! Gear tab }}

<section
  class="tab persona-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="gear"
>
  <div class="gear-list-block">
    <div>
      <h4>{{localize "PC.weaponry"}}</h4>
      <ol>
        {{#each system.weaponry as |weapon obj|}}
          <li class="item-line">
            <img src="{{weapon.img}}" width="24" height="24" />
            <h5>{{weapon.name}}</h5>

            <div>
              {{#if weapon.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{weapon._id}}"
                  data-equip="false"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
              {{/if}}
              <a
                data-action="clickEdit"
                data-item-id="{{weapon._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{weapon._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <div>
      <h4>{{localize "PC.wear"}}</h4>
      <ol>
        {{#each system.vest as |vest obj|}}
          <li class="item-line">
            <img src="{{vest.img}}" width="24" height="24" />
            <h5>{{vest.name}}</h5>

            <div>
              {{#if vest.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{vest._id}}"
                  data-equip="false"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
              {{/if}}
              <a
                data-action="clickEdit"
                data-item-id="{{vest._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{vest._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
      <ol>
        {{#each system.accessories as |acc obj|}}
          <li class="item-line">
            <img src="{{acc.img}}" width="24" height="24" />
            <h5>{{acc.name}}</h5>

            <div>
              {{#if acc.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{acc._id}}"
                  data-equip="false"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
              {{/if}}
              <a
                data-action="clickEdit"
                data-item-id="{{acc._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{acc._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <div>
      <h4>{{localize "PC.items"}}</h4>
      <ol>
        {{#each system.gear as |gear obj|}}
          <li class="item-line">
            <img src="{{gear.img}}" width="24" height="24" />
            <h5>{{gear.name}}</h5>

            <div>
              {{#if gear.system.details.equippable}}
                <a
                  data-action="clickEquip"
                  data-item-id="{{gear._id}}"
                  data-equip="true"
                  title="{{localize 'PC.equip'}}"
                >
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
              {{/if}}
              <a
                data-action="clickEdit"
                data-item-id="{{gear._id}}"
                title="{{localize 'PC.edit'}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <a
                data-action="clickDelete"
                data-item-id="{{gear._id}}"
                title="{{localize 'PC.delete'}}"
              >
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
  <div class="currency-bank">
    <div class="currency-desc">
      {{#if (gt system.currency.silver 1)}}
        {{localize "PC.currency.silver.labelPlural"}}:
      {{else}}
        {{localize "PC.currency.silver.label"}}:
      {{/if}}
    </div>
    <input
      class="currency-input"
      name="system.currency.silver"
      type="number"
      value="{{system.currency.silver}}"
      data-dtype="Number"
      min="0"
    />
    <div class="currency-desc">
      {{#if (gt system.currency.copper 1)}}
        {{localize "PC.currency.copper.labelPlural"}}:
      {{else}}
        {{localize "PC.currency.copper.label"}}:
      {{/if}}
    </div>
    <input
      class="currency-input"
      name="system.currency.copper"
      type="number"
      value="{{system.currency.copper}}"
      data-dtype="Number"
      min="0"
    />
  </div>
</section>