{{! Passives and conditions tab }}

<section
  class="tab persona-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="passives"
>
  <div class="item-list-block">
    <ol class="item-list">
      {{#if categorized.passives.benefit}}
        <div class="item-group-title">
          <div class="empty-space"></div>
          <h3>
            <div>{{localize "PC.benefits"}}</div>
          </h3>
          <div class="item-sorting">
            <a
              data-action="sortAbilities"
              data-sort-mode="name-asc"
              data-group="benefit"
              class="{{#if (eq (lookup (lookup actor.flags "pars-crucis") "benefit") "name-asc")}}active{{/if}}"
            ><i class="fa-regular fa-arrow-down-a-z"></i></a>
            <a
              data-action="sortAbilities"
              data-sort-mode="name-desc"
              data-group="benefit"
              class="{{#if (eq (lookup (lookup actor.flags "pars-crucis") "benefit") "name-desc")}}active{{/if}}"
            ><i class="fa-regular fa-arrow-down-z-a"></i></a>
          </div>
        </div>
        {{#each categorized.passives.benefit as |passive obj|}}
          <li class="item-block">
            <div class="item-line">
              <img src="{{passive.img}}" width="24" height="24" />
              <div class="item-title">
                <h4>{{passive.name}}</h4>
                <div class="passive-cost">
                  {{#if (eq passive.system.info.acquirement "learned")}}
                    {{passive.system.cost.experience}}{{localize "PC.xp"}}
                  {{else}}
                    {{passive.system.cost.points}}{{localize "PC.pts"}}
                  {{/if}}
                </div>
              </div>

              <div class="item-keywords">
                {{#each passive.system.keywords as |value keyword|}}
                  <div class="pc-keyword">
                    {{localize (concat "PC.keyword." keyword)}}{{#if
                      value
                    }}({{value}}){{/if}}
                  </div>
                {{/each}}
              </div>

              <div class="persona-actions">
              </div>

              <div class="item-controls">
                <a
                  data-action="toggleExpand"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.expandCollapseActions'}}"
                >
                  {{#if passive.flags.pars-crucis.expanded}}
                    <i class="fa-regular fa-arrows-to-line"></i>
                  {{else}}
                    <i class="fa-regular fa-arrows-from-line"></i>
                  {{/if}}
                </a>
                <a
                  data-action="clickEdit"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.edit'}}"
                >
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a
                  data-action="clickDelete"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.delete'}}"
                >
                  <i class="fa-regular fa-eraser"></i>
                </a>
              </div>
            </div>
            {{#if passive.flags.pars-crucis.expanded}}
              <div class="persona-item-desc">
                {{{passive.system.description.description}}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      {{else}}
        <div class="item-group-title empty-group-title">
          <div class="empty-space"></div>
          <h3 class="empty-list-title">
            <div>{{localize "PC.noBenefits"}}</div>
          </h3>
          <div class="empty-space"></div>
        </div>
      {{/if}}
    </ol>

    <ol class="item-list">
    {{#if categorized.passives.drawback}}
        <div class="item-group-title">
          <div class="empty-space"></div>
          <h3>
            <div>{{localize "PC.drawbacks"}}</div>
          </h3>
          <div class="item-sorting">
            <a
              data-action="sortAbilities"
              data-sort-mode="name-asc"
              data-group="drawback"
              class="{{#if (eq (lookup (lookup actor.flags "pars-crucis") "drawback") "name-asc")}}active{{/if}}"
            ><i class="fa-regular fa-arrow-down-a-z"></i></a>
            <a
              data-action="sortAbilities"
              data-sort-mode="name-desc"
              data-group="drawback"
              class="{{#if (eq (lookup (lookup actor.flags "pars-crucis") "drawback") "name-desc")}}active{{/if}}"
            ><i class="fa-regular fa-arrow-down-z-a"></i></a>
          </div>
        </div>
        {{#each categorized.passives.drawback as |passive obj|}}
          <li class="item-block">
            <div class="item-line">
              <img src="{{passive.img}}" width="24" height="24" />
              <div class="item-title">
                <h4>{{passive.name}}</h4>
                <div class="passive-cost">
                  {{#if (eq passive.system.info.acquirement "learned")}}
                    ↑{{passive.system.cost.experience}}{{localize "PC.xp"}}
                  {{else}}
                    ↑{{passive.system.cost.points}}{{localize "PC.pts"}}
                  {{/if}}
                </div>
              </div>

              <div class="item-keywords">
                {{#each passive.system.keywords as |value keyword|}}
                  <div class="pc-keyword">
                    {{localize (concat "PC.keyword." keyword)}}{{#if
                      value
                    }}({{value}}){{/if}}
                  </div>
                {{/each}}
              </div>

              <div class="persona-actions">
              </div>

              <div class="item-controls">
                <a
                  data-action="toggleExpand"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.expandCollapseActions'}}"
                >
                  {{#if passive.flags.pars-crucis.expanded}}
                    <i class="fa-regular fa-arrows-to-line"></i>
                  {{else}}
                    <i class="fa-regular fa-arrows-from-line"></i>
                  {{/if}}
                </a>
                <a
                  data-action="clickEdit"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.edit'}}"
                >
                  <i class="fa-regular fa-edit"></i>
                </a>
                <a
                  data-action="clickDelete"
                  data-item-id="{{passive._id}}"
                  title="{{localize 'PC.delete'}}"
                >
                  <i class="fa-regular fa-eraser"></i>
                </a>
              </div>
            </div>
            {{#if passive.flags.pars-crucis.expanded}}
              <div class="persona-item-desc">
                {{{passive.system.description.description}}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      {{else}}
        <div class="item-group-title empty-group-title">
          <div class="empty-space"></div>
          <h3 class="empty-list-title">
            <div>{{localize "PC.noDrawbacks"}}</div>
          </h3>
          <div class="empty-space"></div>
        </div>
      {{/if}}
    </ol>
  </div>
  <div class="tab-footer point-bank">
    <div class="pts-desc">{{localize "PC.ptsSum"}}:</div>
    <div class="pts-sum {{#unless (eq system.experience.ptsSum 0)}}pts-warning{{/unless}}">{{system.experience.ptsSum}}</div>
  </div>
</section>