{{! Passives and conditions tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="passives">
  <div class="passives-tab">
    <h4>
      <div>{{localize "PC.passives"}}</div>
    </h4>
    <ol>
      {{#each system.passives as |passive obj|}}
        <li class="item-line">
          <img src="{{passive.img}}" width="24" height="24" />
          <h5>{{passive.name}}</h5>
          <span>{{passive.system.info.acquirement}}</span>
          <input
            type="text"
            value="{{passive.system.details.notes}}"
            placeholder="{{passive.shortDescription}}"
          />
          <div>
            {{passive.system.cost.experience}}
          </div>

          <div>
            <a
              data-action="clickEdit"
              data-item-id="{{passive._id}}"
              title="{{localize 'PC.edit'}}"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              data-action="clickDelete"
              data-item-id="{{passive._id}}"
              title="{{localize 'PC.delete'}}"
            >
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</section>