{{! Skill tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="skills">
  <div class="skill-tab">
    {{#each config.categories as |category objs|}}
      <div>
        <ul class="skill-category">
          <h5 class="category-title">
            {{localize category.label}}
          </h5>
          {{#each (lookup @root.config objs) as |sk obj|}}
            {{#with (lookup @root.actor.system.skills obj) as |skill|}}
              <li class="skill flexrow">
                <a
                  data-action="clickAttribute"
                  data-attribute="{{@key}}"
                  data-type="skills"
                >
                  {{localize sk.label}}{{#if skill.favorable}}!{{/if}}{{#if
                    skill.favored
                  }}!{{/if}}
                </a>
                <span>
                  ({{localize
                    (concat "PC.attributes." skill.attribute ".abv")
                  }}{{#if (gte skill.growth 2)}}/{{skill.growth}}{{/if}})
                </span>
                <input
                  class="skill-level"
                  name="system.skills.{{@key}}.level"
                  type="Number"
                  value="{{skill.level}}"
                  data-dtype="Number"
                />
                <input
                  class="skill-mod"
                  type="String"
                  name="system.skills.{{@key}}.mod"
                  value="{{numberFormat skill.mod sign=true}}"
                  data-dtype="Number"
                />
              </li>
            {{/with}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</section>