<li class="list-action list-ammo">
  <span class="inline-label">{{localize "PC.ammo.label"}}:</span>
  {{#if (gt this.system.ammoInfo.capacity 0)}}
    <span class="inline-value">
      <input
        class="loaded-input"
        type="number"
        value="{{this.system.ammoInfo.loaded}}"
        data-dtype="Number"
        min="0"
        data-field="system.ammoInfo.loaded"
        data-item-id="{{this.system.parent._id}}"
      />
      /{{this.system.ammoInfo.capacity}}
    </span>
  {{/if}}
  <button
    type="button"
    class="pick-ammo inline-button"
    data-action="ammoPicker"
    data-item-id="{{itemId}}"
  >
    {{#if this.selectedAmmo}}
      <img
        class="inline-icon"
        src="{{this.selectedAmmo.img}}"
        width="16"
        height="16"
      />
      <span
        class="inline-action-name inline-selected"
      >{{this.selectedAmmo.name}}</span>
    {{else}}
      <span class="inline-action-name">{{localize "PC.selectAmmo"}}</span>
    {{/if}}
  </button>
  {{#if (not (isEmpty this.selectedAmmo.system.keywords))}}
    <span class="item-keywords">
      {{#each this.selectedAmmo.system.keywords}}
      {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </span>
  {{/if}}
  {{#if (not (isEmpty this.selectedAmmo.system.damage.dmgBase))}}
    <span class="inline-label">{{localize "PC.damage"}}</span>
    <span class="inline-value">
      {{numberFormat this.selectedAmmo.system.damage.dmgBase sign=true}}
    </span> 
    <span class="inline-value">
      {{localize (concat "PC.dmgType." this.selectedAmmo.system.damage.dmgType ".abv")}}
    </span>
  {{/if}}
</li>