<div class="tab-footer currency-bank">
  <div class="currency-spacer"></div>

  <div class="currency-group">
    <div class="currency-line silver">
      <input
        class="currency-input"
        name="system.currency.silver"
        type="number"
        value="{{system.currency.silver}}"
        data-dtype="Number"
        placeholder="0"
        min="0"
      />
      <div class="currency-desc">
        {{#if (gt system.currency.silver 1)}}
          {{localize "PC.currency.silver.labelPlural"}}
        {{else}}
          {{localize "PC.currency.silver.label"}}
        {{/if}}
      </div>
    </div>
    <div class="separator"></div>
    <div class="currency-line copper">
      <input
        class="currency-input"
        name="system.currency.copper"
        type="number"
        value="{{system.currency.copper}}"
        data-dtype="Number"
        placeholder="0"
        min="0"
      />
      <div class="currency-desc">
        {{#if (gt system.currency.copper 1)}}
          {{localize "PC.currency.copper.labelPlural"}}
        {{else}}
          {{localize "PC.currency.copper.label"}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="inventory-summary">
    {{#if system.inventory}}
      <div class="inventory-slots">
        <div class="occupied
          {{#if (gt system.inventory.occupied system.inventory.slots)}}
            overloaded
          {{/if}}"
        >{{system.inventory.occupied}}</div>
        <div class="slot-separator">/</div>
        <div class="slots">{{system.inventory.slots}}</div>
      </div>
      <div class="slots-label">{{localize "PC.slots"}}</div>
    {{/if}}
  </div>
</div>