<!-- Gear tab Weaponry list -->

<ol class="item-list weapons-list">
  <div class="item-group-title">
    <div class="empty-space"></div>
    <h3>{{localize "PC.weaponry"}}</h3>
    <div class="item-sorting"></div>
  </div>
  {{#each system.weaponry as |weapon obj|}}
    <li class="item-block">
      <div class="item-line">
        <img class="icon-mid" src="{{weapon.img}}" width="24" height="24" />
        <div class="item-title">
          <h4>{{weapon.name}}</h4>
        </div>

        <div class="item-keywords">
          {{#each weapon.system.keywords}}
            {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
          {{/each}}
          {{#each weapon.system.actions}}
            {{#each this.keywords}}
              {{> systems/pars-crucis/templates/partials/pc-sec-keyword.hbs}}
            {{/each}}
          {{/each}}
        </div>

        <div class="persona-actions weapon-actions">
          {{#each weapon.system.actions}}
            {{> systems/pars-crucis/templates/actor/partials/inline-action.hbs action=this itemId=weapon._id dataAction=this.type}}
          {{/each}}
        </div>

        <div class="item-stack">
          {{#if this.system.details.stackable}}
            <input
              class="stack-input"
              type="number"
              value="{{this.system.details.stack}}"
              data-dtype="Number"
              min="0"
              data-field="system.details.stack"
              data-item-id="{{this._id}}"
            />
            <div class="stack-separator">/</div>
            <div class="stack-max">{{this.system.details.stackMax}}</div>
          {{/if}}
        </div>

        <div class="item-controls">
          {{#if weapon.system.details.equippable}}
            <a
              data-action="clickEquip"
              data-item-id="{{weapon._id}}"
              data-equip="false"
              title="{{localize 'PC.equip'}}"
            >
              <i class="fa-regular fa-backpack"></i>
            </a>
          {{/if}}
          {{#if (isEmpty weapon.system.actions)}}
            <div class="disabled-control">
              <i class="fa-regular fa-arrows-from-line"></i>
            </div>
          {{else}}
            <a
              data-action="toggleExpand"
              data-item-id="{{this._id}}"
              title="{{localize 'PC.expandCollapseActions'}}"
            >
              {{#if this.flags.pars-crucis.expanded}}
                <i class="fa-regular fa-arrows-to-line"></i>
              {{else}}
                <i class="fa-regular fa-arrows-from-line"></i>
              {{/if}}
            </a>
          {{/if}}
          <a
            data-action="clickEdit"
            data-item-id="{{weapon._id}}"
            title="{{localize 'PC.edit'}}"
          >
            <i class="fa-regular fa-edit"></i>
          </a>
          <a
            data-action="clickDelete"
            data-item-id="{{weapon._id}}"
            title="{{localize 'PC.delete'}}"
          >
            <i class="fa-regular fa-trash-can"></i>
          </a>
        </div>
      </div>
      {{#if weapon.flags.pars-crucis.expanded}}
        <ol class="gear-actions">
          {{#if this.system.hasAmmo}}
            {{> systems/pars-crucis/templates/actor/partials/ammo.hbs itemId=this._id}}
          {{/if}}
          {{#each weapon.system.actions}}
            {{> systems/pars-crucis/templates/actor/partials/list-action.hbs itemId=../this._id}}
          {{/each}}
        </ol>
      {{/if}}
    </li>
  {{/each}}
</ol>