<div class="dice-roll">
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    <div class="dice">
      <ol class="dice-rolls flexrow">
        {{#each this.dices}}
          <li class="roll {{this.classes}}">{{this.result}}</li>
        {{/each}}
      </ol>
    </div>
    <h4 class="dice-total {{result}}">{{total}}</h4>
  </div>
</div>