<div class="pc-dice-roll">
  <div class="action-head">
    <img src="{{img}}" width="24" height="24" />
    <div class="roll-name">
      <div class="item-name">
        {{itemName}}
      </div>
      <div class="action-name">
        {{actionName}}
      </div>
    </div>
  </div>

  <div class="action-desc">
    {{#if info.withItem}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.With"}}:</span>
        <img
          class="info-icon"
          src="{{info.withItem.selectedItem.img}}"
          width="16"
          height="16"
        />
        <span
          class="inline-action-name inline-selected"
        >{{info.withItem.selectedItem.name}}:</span>
        <img
          class="info-icon"
          src="{{info.withItem.selectedAction.img}}"
          width="16"
          height="16"
        />
        <span
          class="inline-action-name inline-selected"
        >{{info.withItem.selectedAction.name}}</span>
      </div>
    {{/if}}
    {{#if info.withAmmo}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.ammo.label"}}:</span>
        <img
          class="info-icon"
          src="{{info.withAmmo.img}}"
          width="16"
          height="16"
        />
        <span
          class="inline-action-name inline-selected"
        >{{info.withAmmo.name}}</span>
      </div>
    {{/if}}
    {{#if info.subtype}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.action.label"}}:</span>{{localize
          (concat "PC.action.types.attack.subtype." info.subtype)
        }}
      </div>
    {{/if}}
    {{#if info.desc}}
      <div class="info-line">
        {{info.desc}}
      </div>
    {{/if}}
    {{#if info.effort}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.effort.label"}}:</span>{{info.effort}}
      </div>
    {{/if}}
    {{#if info.prepTime}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.prepTime.label"}}:</span>{{info.prepTime}}
      </div>
    {{/if}}
    {{#if info.range}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.range.label"}}:</span>{{info.range}}
      </div>
    {{/if}}
    {{#if info.damaging}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.damage"}}:</span>{{info.damage}}
      </div>
    {{/if}}
    {{#if info.effect}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.effect"}}:</span>{{info.effect}}
      </div>
    {{/if}}
    {{#if info.duration}}
      <div class="info-line">
        <span class="info-label">
          {{localize "PC.duration.label"}}:</span>{{info.duration}}
      </div>
    {{/if}}
    {{#if info.keywords}}
      <div class="item-keywords">
        {{#each info.keywords}}
          {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
        {{/each}}
      </div>
    {{/if}}
  </div>

  {{#if flavor}}
    <div class="pc-roll-flavor">{{flavor}}</div>
  {{/if}}
  <div class="pc-roll-block">
    <div class="pc-roll">
      <div class="pc-roll-formula">{{formula}}</div>
      <ol class="pc-dices">
        {{#each this.dices}}
          <li class="pc-dice {{this.classes}}">{{this.result}}</li>
        {{/each}}
      </ol>
    </div>
    <div class="pc-result">
      <h1 class="pc-roll-total">{{total}}</h1>
    </div>
  </div>
  {{#if (eq type "test")}}
    <div class="pc-result-block">
      {{#if success}}
        <div class="pc-test success">
          {{localize "PC.success"}}
        </div>
        <div class="pc-test-result">
          <h5 class="pc-margin">
            {{localize "PC.marginOfSuccess.abv"}}
            {{margin}}
          </h5>
        </div>
      {{else}}
        <div class="pc-test failure">
          {{localize "PC.failure"}}
        </div>
        <div class="pc-test-result">
          <h5 class="pc-margin">
            {{localize "PC.marginOfFailure.abv"}}
            {{margin}}
          </h5>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>