{{! Passive Config tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="config">
  <div class="flexcol">
    <input
      name="name"
      type="String"
      value="{{item.name}}"
      placeholder="Nameless Passive"
    />
    <select name="system.info.subtype">
      {{selectOptions
        config.passive.subtypes
        selected=system.info.subtype
        localize=true
      }}
    </select>
    <select name="system.info.acquirement">
      {{selectOptions
        config.passive.acquirement
        selected=system.info.acquirement
        localize=true
      }}
    </select>
    <div>
      <h4>{{localize "PC.keywords"}}</h4>
      <a data-action="addKeyword" data-type="passive"><i
          class="fa-regular fa-plus"
        ></i></a>
      {{#each system.keywords as |keyword obj|}}
        <div class="flexrow">
          <div>
            {{localize (concat "PC.keyword." obj)}}{{#if keyword}}
              ({{keyword}}){{/if}}
          </div>
          <a data-action="cutKeyword" data-keyword="{{@key}}">
            <i class="fa-regular fa-trash-can"></i></a>
        </div>
      {{/each}}
    </div>
    <div>
      <h4>{{localize "PC.pts"}}</h4>
      <input
        class="item-input"
        type="Number"
        name="system.cost.points"
        value="{{system.cost.points}}"
        placeholder="Zeroed"
        data-dtype="Number"
      />
    </div>
    <div>
      <h4>{{localize "PC.xp"}}</h4>
      <input
        class="item-input"
        type="Number"
        name="system.cost.experience"
        value="{{system.cost.experience}}"
        placeholder="Zeroed"
        data-dtype="Number"
      />
    </div>
  </div>
</section>