{{! Passive sheat header }}

<header class="sheet-header item-header passive-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="89"
    height="89"
  />
  <div class="item-header-right">
    <div class="item-name-line">
      <h1 class="name item-name">
        {{item.name}}
      </h1>
      <div class="experience">
        <div class="xp-line">
          {{#if (eq system.info.acquirement "learned")}}
            {{#if system.cost.experience}}
              <div class="xp-cost">{{system.cost.experience}}</div>
            {{else}}
              <div class="xp-cost">Ø</div>
            {{/if}}
            <div class="separator"></div>
            <div class="xp-name">{{localize "PC.xp"}}</div>
          {{else}}
            {{#if system.cost.points}}
              <div class="xp-cost">{{#if
                  (eq system.info.subtype "drawback")
                }}↑{{/if}}{{system.cost.points}}</div>
            {{else}}
              <div class="xp-cost">Ø</div>
            {{/if}}
            <div class="separator"></div>
            <div class="xp-name">{{localize "PC.pts"}}</div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="item-info">
      {{localize "PC.passive.label"}}
      ·
      {{localize (concat "PC.passive.subtypes." system.info.subtype)}}
      ·
      {{localize (concat "PC.passive.acquirement." system.info.acquirement)}}
    </div>
    <div class="item-sheet-keywords">
      {{#each system.keywords as |value key|}}
        {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </div>
  </div>
</header>