{{! Actions tab - parts }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="actions">
  <div class="actions-tab">
    <div class="actions-controls">
      <a data-action="createAction" data-ac-type="attack"><i class="fa-regular fa-plus"></i> {{localize "PC.createAttack"}}</a>
      <a data-action="createAction" data-ac-type="test"><i class="fa-regular fa-plus"></i> {{localize "PC.createTest"}}</a>
      <a data-action="createAction" data-ac-type="use"><i class="fa-regular fa-plus"></i> {{localize "PC.createUse"}}</a>
    </div>
    <ul class="action-list">
      {{#each system.actions as |action obj|}}
        <li class="action-block">
          <div class="action-header">
            <img 
              class="action-img"
              src="{{action.img}}"
              data-edit="system.actions.{{@key}}.img"
              data-action="editImage"
              width="36"
              height="36"
            />
            <div class="action-block-info">
              <div class="action-title-line">
                <input
                  class="action-title"
                  name="system.actions.{{@key}}.name"
                  type="Text"
                  value="{{action.name}}"
                  data-dtype="String"
                />
                
                <select 
                  class="action-type" 
                  name="system.actions.{{@key}}.type">
                  {{selectOptions
                    ../config.action.types
                    selected=action.type
                    localize=true
                  }}
                </select>

                {{#if (or (eq action.type "attack") (eq action.type "test"))}}
                  <select 
                    class="action-skill"
                    name="system.actions.{{@key}}.skill">
                    {{selectOptions
                      ../config.skills
                      selected=action.skill
                      localize=true
                    }}
                  </select>
                {{/if}}
                {{#if (eq action.type "attack")}}
                  <select
                    class="action-subtype"
                    name="system.actions.{{@key}}.subtype">
                    {{selectOptions
                      ../config.action.types.attack.subtypes
                      selected=action.subtype
                      localize=true
                    }}
                  </select>
                {{/if}}
                {{#if (eq action.type "test")}}
                  <div class="action-subtype">
                    <div class="dif-label">
                      {{localize "PC.difficulty.label"}}
                    </div>
                    <input
                      name="system.actions.{{@key}}.difficulty"
                      type="Number"
                      value="{{action.difficulty}}"
                      data-dtype="Number"
                    />
                  </div>
                {{/if}}     

                <a
                  class="trash-can"
                  data-action="deleteAction"
                  data-action-id="{{action._id}}"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </div>

              <div class="action-keyword-line">
                <a
                  class="add-keyword"
                  data-action="addActionKeyword"
                  data-type="action" 
                  data-ac-id="{{action._id}}"
                >{{localize "PC.keywords"}}
                  <i class="fa-regular fa-plus"></i>
                </a>
                {{#each action.keywords as |keyword obj|}}
                  <div class="keyword-block">
                    <div class="pc-keyword">
                      {{localize (concat "PC.keyword." obj)}}{{#if keyword}}
                        ({{keyword}}){{/if}}
                    </div>
                    <a 
                      data-action="cutActionKeyword"
                      data-keyword="{{@key}}"
                      data-ac-id="{{action._id}}"
                    >
                      <i class="fa-regular fa-eraser"></i>
                    </a>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          
          <div class="show-damage flexrow">
            <div class="flexcol">
              <input
                id="damaging-toggle-{{action._id}}"
                type="checkbox"
                data-dtype="Boolean"
                name="system.actions.{{@key}}.damaging"
                {{checked action.damaging}}
                hidden
              />
              <label for="damaging-toggle-{{action._id}}" class="name-tag">
                {{localize "PC.damaging"}}?
              </label>
            </div>
            <div class="flexcol">
              <input
                id="scalable-toggle-{{action._id}}"
                type="checkbox"
                data-dtype="Boolean"
                name="system.actions.{{@key}}.damage.scalable"
                {{checked action.damage.scalable}}
                hidden
              />
              <label for="scalable-toggle-{{action._id}}" class="name-tag">
                {{localize "PC.scalable"}}
              </label>
            </div> 
            <div>
              {{#unless action.damage.scalable}}[{{/unless}}
              {{action.damage.dmgBase}}
              {{#if action.damage.dmgAttributes}}
                +{{#each action.damage.dmgAttributes as |dmgAtt obj|}}
                  {{localize (concat "PC.attributes." dmgAtt ".abv")}}              
                  {{#unless @last}}
                    |
                  {{/unless}}
                {{/each}}
                {{#unless (eq action.damage.dmgAttMultiplier 1)}}
                  {{localize (lookup (lookup ../config.multiplier action.damage.dmgAttMultiplier) "label")}}
                {{/unless}}
              {{/if}}
              {{#unless action.damage.scalable}}]{{/unless}}
              {{localize (concat "PC.dmgType." action.damage.dmgType ".label")}}
            </div>
            {{#if action.damage.dmgTxt}}
              => {{action.damage.dmgTxt}}
            {{/if}}
          </div>
          <div class="flexrow action-damage">
            <div class="flexcol">
              {{localize "PC.base"}}
              <input
                name="system.actions.{{@key}}.damage.dmgBase"
                type="Number"
                value="{{action.damage.dmgBase}}"
                data-dtype="Number"
              />
            </div>
            <div class="flexcol">
              <div class="flexrow">
                {{localize "PC.attributes.label"}}
                <a data-action="addDmgAttribute" data-ac-id="{{action._id}}">
                  <i class="fa-regular fa-plus"></i>
                </a>
              </div>
              <div class="flexrow">
                {{#each action.damage.dmgAttributes as |dmgAtt|}}
                  <a
                    data-action="cutDmgAttribute"
                    data-ac-id="{{action._id}}"
                    data-att="{{dmgAtt}}"
                  >
                    {{localize (concat "PC.attributes." dmgAtt ".abv" )}}
                  </a>
                {{/each}}
              </div>
            </div>
            <div class="flexcol">
              {{localize "PC.multiplier.label"}}
              <select name="system.actions.{{@key}}.damage.dmgAttMultiplier">
                {{selectOptions
                  ../config.multiplier
                  selected=action.damage.dmgAttMultiplier
                  localize=true
                }}
              </select>
            </div>
            <div class="flexcol">
              {{localize "PC.type"}}
              <select name="system.actions.{{@key}}.damage.dmgType">
                {{selectOptions
                  ../config.dmgType
                  selected=action.damage.dmgType
                  localize=true
                }}
              </select>
            </div>
            <div class="flexcol">
              {{localize "PC.subtype"}}
              <input
                name="system.actions.{{@key}}.damage.dmgSubtype"
                type="String"
                value="{{action.damage.dmgSubtype}}"
                data-dtype="String"
              />
            </div>
          </div>

          <div class="action-details">
            {{localize "PC.effort.label"}}
            <input
              name="system.actions.{{@key}}.effort"
              type="String"
              value="{{action.effort}}"
              data-dtype="String"
            />
            {{localize "PC.range.label"}}
            <input
              name="system.actions.{{@key}}.range"
              type="String"
              value="{{action.range}}"
              data-dtype="String"
            />
            {{localize "PC.prepTime.abv"}}
            <input
              name="system.actions.{{@key}}.prepTime"
              type="String"
              value="{{action.prepTime}}"
              data-dtype="String"
            />
            {{localize "PC.duration.label"}}
            <input
              name="system.actions.{{@key}}.duration"
              type="String"
              value="{{action.duration}}"
              data-dtype="String"
            />
          </div>
          <div class="action-effect">
            <input 
              name="system.actions.{{@key}}.effect"
              type="String"
              value="{{action.effect}}"
              data-dtype="String"
            />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>