{{! Actions tab - parts }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="actions">
  <div class="actions-tab">
    <div class="actions-controls">
      <a data-action="createAction" data-ac-type="attack"><i class="fa fa-plus"></i> {{localize "PC.attack"}}</a>
      <a data-action="createAction" data-ac-type="test"><i class="fa fa-plus"></i> {{localize "PC.test"}}</a>
      <a data-action="createAction" data-ac-type="use"><i class="fa fa-plus"></i> {{localize "PC.use"}}</a>
    </div>
    <ul class="action-list">
      {{#each system.actions as |action obj|}}
        <li class="action-block">
          <div class="action-header">
            <img 
              class="action-img"
              src="{{action.img}}"
              data-edit="system.actions.{{@key}}.img"
              data-action="editImage"
              width="54"
              height="54"
            />
            <div class="action-block-info">
              <div class="flexrow">
                <div>
                  <input
                    name="system.actions.{{@key}}.name"
                    type="String"
                    value="{{action.name}}"
                    data-dtype="String"
                  />
                </div>
                
                <select name="system.actions.{{@key}}.type">
                  {{selectOptions
                    ../config.action.types
                    selected=action.type
                    localize=true
                  }}
                </select>

                <a
                  class="trash-can"
                  data-action="deleteAction"
                  data-action-id="{{action._id}}"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </div>

              <div class="flexrow">
                {{#if (or (eq action.type "attack") (eq action.type "test"))}}
                  <select name="system.actions.{{@key}}.skill">
                    {{selectOptions
                      ../config.skills
                      selected=action.skill
                      localize=true
                    }}
                  </select>
                {{/if}}
                {{#if (eq action.type "attack")}}
                  <select name="system.actions.{{@key}}.subtype">
                    {{selectOptions
                      ../config.action.types.attack.subtypes
                      selected=action.subtype
                      localize=true
                    }}
                  </select>
                {{/if}}
                {{#if (eq action.type "test")}}
                  <div class="flexrow">
                    {{localize "PC.difficulty.abv"}}
                    <input
                      name="system.actions.{{@key}}.difficulty"
                      type="Number"
                      value="{{action.difficulty}}"
                      data-dtype="Number"
                    />
                  </div>
                {{/if}}            
              </div>

              <div class="flexrow">
                {{log action}}
                <div>{{localize "PC.keywords"}}</div>
                <a
                  data-action="addActionKeyword"
                  data-type="action" 
                  data-ac-id="{{action._id}}"
                ><i class="fa-regular fa-plus"></i>
                </a>
                {{#each action.keywords as |keyword obj|}}
                  <div class="flexrow">
                    <div>
                      {{localize (concat "PC.keyword." obj)}}{{#if keyword}}
                        ({{keyword}}){{/if}}
                    </div>
                    <a 
                      data-action="cutActionKeyword"
                      data-keyword="{{@key}}"
                      data-ac-id="{{action._id}}"
                    >
                      <i class="fa-regular fa-trash-can"></i></a>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          
          <div class="show-damage">
            Demonstração DANO:
            {{#if action.damage.scalable}}[{{/if}}
            {{action.damage.dmgBase}}
            {{log action}}
            {{#if action.damage.dmgAttributes}}
              +{{#each action.damage.dmgAttributes as |dmgAtt obj|}}
                {{localize (concat "PC.attributes." dmgAtt ".abv")}}              
                {{#unless @last}}
                  |
                {{/unless}}
              {{/each}}
              {{#unless (eq action.damage.dmgAttMultiplier 1)}}
                {{localize (lookup (lookup ../config.multiplier action.damage.dmgAttMultiplier) "label")}}
              {{/unless}}
            {{/if}}
            {{#if action.damage.scalable}}]{{/if}}
            {{localize (concat "PC.dmgType." action.damage.dmgType ".label")}}
          </div>
          <div class="flexrow action-damage">
            <div class="flexcol">
              Base
              <input
                name="system.actions.{{@key}}.damage.dmgBase"
                type="Number"
                value="{{action.damage.dmgBase}}"
                data-dtype="Number"
              />
            </div>
            <div class="flexcol">
              <div class="flexrow">
                Atributos
                <a data-action="addDmgAttribute" data-ac-id="{{action._id}}">
                  <i class="fa-regular fa-plus"></i>
                </a>
              </div>
              <div class="flexrow">
                {{#each action.damage.dmgAttributes as |dmgAtt|}}
                  <a
                    data-action="cutDmgAttribute"
                    data-ac-id="{{action._id}}"
                    data-att="{{dmgAtt}}"
                  >
                    {{localize (concat "PC.attributes." dmgAtt ".abv" )}}
                  </a>
                {{/each}}
              </div>
            </div>
            <div class="flexcol">
              Multi
              <select name="system.actions.{{@key}}.damage.dmgAttMultiplier">
                {{selectOptions
                  ../config.multiplier
                  selected=action.damage.dmgAttMultiplier
                  localize=true
                }}
              </select>
            </div>
            <div class="flexcol">
              <input
                id="scalable-toggle-{{action._id}}"
                type="checkbox"
                data-dtype="Boolean"
                name="system.actions.{{@key}}.damage.scalable"
                {{checked action.damage.scalable}}
                hidden
              />
              <label for="scalable-toggle-{{action._id}}" class="name-tag">
                Escalável?
              </label>
            </div>
            <div class="flexcol">
              DanoTipo
              <select name="system.actions.{{@key}}.damage.dmgType">
                {{selectOptions
                  ../config.dmgType
                  selected=action.damage.dmgType
                  localize=true
                }}
              </select>
            </div>
          </div>

          <div class="action-details">
            {{localize "PC.effort.label"}}
            <input
              name="system.actions.{{@key}}.effort"
              type="String"
              value="{{action.effort}}"
              data-dtype="String"
            />
            {{localize "PC.range.label"}}
            <input
              name="system.actions.{{@key}}.range"
              type="String"
              value="{{action.range}}"
              data-dtype="String"
            />
            {{localize "PC.prepTime.abv"}}
            <input
              name="system.actions.{{@key}}.prepTime"
              type="String"
              value="{{action.prepTime}}"
              data-dtype="String"
            />
            {{localize "PC.duration.label"}}
            <input
              name="system.actions.{{@key}}.duration"
              type="String"
              value="{{action.duration}}"
              data-dtype="String"
            />
          </div>
          <div class="action-effect">
            <input 
              name="system.actions.{{@key}}.effect"
              type="String"
              value="{{action.effect}}"
              data-dtype="String"
            />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>