{{! Actions tab - parts }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="actions">
  <div class="actions-tab">
    <div class="actions-controls">
      <a data-action="createAction" data-ac-type="attack"><i class="fa-regular fa-plus"></i> {{localize "PC.createAttack"}}</a>
      {{#if (eq item.type "ability")}}
        <a data-action="createAction" data-ac-type="tech"
        ><i class="fa-regular fa-plus"></i>
        {{localize "PC.createTech"}}</a>
      {{/if}}
      <a data-action="createAction" data-ac-type="test"><i class="fa-regular fa-plus"></i> {{localize "PC.createTest"}}</a>
      <a data-action="createAction" data-ac-type="use"><i class="fa-regular fa-plus"></i> {{localize "PC.createUse"}}</a>
    </div>
    <ul class="action-list">
      {{#each system.actions as |action obj|}}
        <li class="action-block">
          <div class="action-header">
            <img 
              class="action-img"
              src="{{action.img}}"
              data-edit="system.actions.{{@key}}.img"
              data-action="editImage"
              width="36"
              height="36"
            />
            <div class="action-block-info">
              <div class="action-title-line">
                <input
                  class="action-title"
                  name="system.actions.{{@key}}.name"
                  type="Text"
                  value="{{action.name}}"
                  data-dtype="String"
                />

                {{#if (eq action.type "attack")}}
                  <select
                    class="action-subtype"
                    name="system.actions.{{@key}}.subtype">
                    {{selectOptions
                      ../config.action.types.attack.subtypes
                      selected=action.subtype
                      localize=true
                    }}
                  </select>
                {{/if}}
                {{#if (eq action.type "tech")}}
                  <button
                    type="button"
                    class="pick-action"
                    data-action="open-action-picker"
                  >
                    {{#if selectedAction}}
                      {{selectedAction.name}}
                    {{else}}
                      <span class="placeholder">{{localize "PC.selectAction"}}</span>
                    {{/if}}
                  </button>
                {{/if}}
                {{#if (eq action.type "test")}}
                  <div class="action-subtype">
                    <div class="dif-label">
                      {{localize "PC.difficulty.label"}}
                    </div>
                    <input
                      name="system.actions.{{@key}}.difficulty"
                      value="{{action.difficulty}}"
                      type="Number"
                      data-dtype="Number"
                      placeholder="10"
                    />
                  </div>
                {{/if}}
                {{#if (eq action.type "use")}}
                  <div class="action-usage">
                    <input
                      name="system.actions.{{@key}}.usage"
                      value="{{action.usage}}"
                      type="Text"
                      data-dtype="String"
                      placeholder={{localize "PC.action.types.use.label"}}
                    />
                  </div>
                {{/if}}     

                <a
                  class="trash-can"
                  data-action="deleteAction"
                  data-ac-id="{{action._id}}"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </div>

              {{#if (or (eq action.type "attack") (eq action.type "tech") (eq action.type "test"))}}
                <div class="action-skills-line">
                  <a
                    class="add-skill"
                    data-action="actionSkillPicker"
                    data-ac-id="{{action._id}}"
                  >
                    {{localize "PC.skills.label"}}
                    <i class="fa-regular fa-plus"></i>
                  </a>
                    {{#each action.skills}}
                      {{localize (concat "PC.skills." @key)}}{{#unless @last}},{{/unless}}
                    {{/each}}
                </div>
              {{/if}}   

              <div class="action-keyword-line">
                <a
                  class="add-keyword"
                  data-action="actionKeywordPicker"
                  data-ac-id="{{action._id}}"
                >{{localize "PC.keywords"}}
                  <i class="fa-regular fa-plus"></i>
                </a>
                {{#each action.keywords}}
                  <div class="keyword-block">
                    <div class="pc-keyword">
                      {{localize (concat "PC.keyword." @key)}}{{#if this}}
                        ({{this}}){{/if}}
                    <a 
                      data-action="cutActionKeyword"
                      data-keyword="{{@key}}"
                      data-ac-id="{{action._id}}"
                    >
                      <i class="fa-regular fa-eraser"></i>
                    </a>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          
          <div class="item-info-config">
            <div class="item-info-block">
              <input
                id="damaging-toggle-{{action._id}}"
                type="checkbox"
                data-dtype="Boolean"
                name="system.actions.{{@key}}.damaging"
                {{checked action.damaging}}
                hidden
              />
              <label for="damaging-toggle-{{action._id}}" class="name-tag">
                {{localize "PC.damaging"}}?
              </label>
            </div>

            {{#if action.damaging}}
              <div class="item-info-block show-damage">
                <div
                  data-action="setDamage"
                  data-ac-id="{{action._id}}"
                >
                  {{#unless action.damage.scalable}}[{{/unless}}
                  {{action.damage.dmgBase}}
                  {{#if action.damage.dmgAttributes}}
                    +{{#each action.damage.dmgAttributes as |dmgAtt obj|}}
                      {{localize (concat "PC.attributes." dmgAtt ".abv")}}              
                      {{#unless @last}}
                        |
                      {{/unless}}
                    {{/each}}
                    {{#unless (eq action.damage.dmgAttMultiplier 1)}}
                      {{localize (lookup (lookup ../config.multiplier action.damage.dmgAttMultiplier) "label")}}
                    {{/unless}}
                  {{/if}}
                  {{#unless action.damage.scalable}}]{{/unless}}
                  {{localize (concat "PC.dmgType." action.damage.dmgType ".label")}}
                </div>
              </div>
              {{#if action.damage.dmgTxt}}
                <div class="item-info-block">
                  => {{action.damage.dmgTxt}}
                </div>
              {{/if}}
            {{/if}}

            <div class="item-info-block">
              <input
                id="usesAmmo-toggle-{{this._id}}"
                type="checkbox"
                data-dtype="Boolean"
                name="system.actions.{{@key}}.usesAmmo"
                {{checked action.usesAmmo}}
                hidden
              />
              <label for="usesAmmo-toggle-{{this._id}}" class="name-tag">
                {{localize "PC.usesAmmo"}}?
              </label>
            </div>
          </div>

          <div class="action-details">
            {{localize "PC.effort.label"}}
            <input
              name="system.actions.{{@key}}.effort"
              value="{{action.effort}}"
              type="text"
              data-dtype="String"
            />
            {{localize "PC.prepTime.abv"}}
            <input
              name="system.actions.{{@key}}.prepTime"
              value="{{action.prepTime}}"
              type="text"
              data-dtype="String"
            />
            {{localize "PC.limit"}}
            <input
              name="system.actions.{{@key}}.limit"
              value="{{action.limit}}"
              type="text"
              data-dtype="String"
            />
          </div>

          <div class="action-details">
            {{localize "PC.range.label"}}
            <input
              name="system.actions.{{@key}}.range"
              value="{{action.range}}"
              type="text"
              data-dtype="String"
            />
            {{localize "PC.area.label"}}
            <input
              name="system.actions.{{@key}}.area"
              value="{{action.area}}"
              type="text"
              data-dtype="String"
            />
            {{localize "PC.duration.label"}}
            <input
              name="system.actions.{{@key}}.duration"
              value="{{action.duration}}"
              type="text"
              data-dtype="String"
            />
          </div>
          <div class="action-effect flexrow">
            {{localize "PC.effect"}}
            <input 
              name="system.actions.{{@key}}.effect"
              value="{{action.effect}}"
              type="text"
              data-dtype="String"
            />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>