{{! Gear Details and Config tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="config">
  <div class="item-info-config">
    <div class="item-info-block item-name-block">
      <h5>{{localize "PC.gearName"}}</h5>
      <input
        name="name"
        type="Text"
        value="{{item.name}}"
        placeholder="Nameless Gear"
      /></div>
    <div class="item-info-block">
      <h5>{{localize "PC.subtype"}}</h5>
      <select name="system.info.subtype">
        {{selectOptions
          config.gear.subtypes
          selected=system.info.subtype
          localize=true
        }}
      </select>
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.group"}}</h5>
      <select name="system.info.group">
        {{selectOptions
          (lookup (lookup config.gear.subtypes system.info.subtype) "groups")
          selected=system.info.group
          localize=true
        }}
      </select>
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.subgroup"}}</h5>
      <input
        name="system.info.subgroup"
        type="Text"
        value="{{system.info.subgroup}}"
        data-dtype="String"
      />
    </div>
  </div>

  <div class="item-info-config">
    <div class="item-info-block">
      <h5>{{localize "PC.price"}}</h5>
      <div class="double-entry">
        {{#if
          (or
            (eq system.cost.currency "unknown")
            (eq system.cost.currency "priceless")
          )
        }}
          <div class="not-available">{{localize
              (concat "PC.currency." system.cost.currency ".abv")
            }}</div>
        {{else}}
          <input
            name="system.cost.price"
            type="Number"
            value="{{system.cost.price}}"
            data-dtype="Number"
          />
        {{/if}}
        <select name="system.cost.currency">
          {{selectOptions
            config.currency
            selected=system.cost.currency
            localize=true
          }}
        </select>
      </div>
    </div>
    <div class="item-info-block">
      <h5>{{localize "PC.quality.label"}}</h5>
      <select name="system.info.quality">
        {{selectOptions
          config.quality
          selected=system.info.quality
          localize=true
        }}
      </select>
    </div>
  </div>

  <div class="item-info-config">
    <div class="item-info-block">
      <input
        id="equippable-toggle-{{item._id}}"
        type="checkbox"
        data-dtype="Boolean"
        name="system.details.equippable"
        {{checked system.details.equippable}}
        hidden
      />
      <label for="equippable-toggle-{{item._id}}" class="name-tag">
        {{localize "PC.equippable"}}
      </label>
    </div>
    <div class="item-info-block">
      <input
        id="equipped-toggle-{{item._id}}"
        type="checkbox"
        data-dtype="Boolean"
        name="system.details.equipped"
        {{checked system.details.equipped}}
        hidden
      />
      <label for="equipped-toggle-{{item._id}}" class="name-tag">
        {{localize "PC.equipped"}}
      </label>
    </div>
    <div class="item-info-block">
      <input
        id="stackable-toggle-{{item._id}}"
        type="checkbox"
        data-dtype="Boolean"
        name="system.details.stackable"
        {{checked system.details.stackable}}
        hidden
      />
      <label for="stackable-toggle-{{item._id}}" class="name-tag">
        {{localize "PC.stackable"}}
      </label>
    </div>
  </div>

  <div class="item-info-config">
    <div class="item-info-block">
      {{#if system.details.stackable}}
        <h5>{{localize "PC.slots"}}</h5>
        <div class="not-available">{{system.details.slots}}</div>
      {{else}}
        <h5>{{localize "PC.slots"}}</h5>
        <input
          name="system.details.slots"
          type="Number"
          value="{{system.details.slots}}"
          data-dtype="Number"
        />
      {{/if}}
    </div>
    <div class="item-info-block">
      {{#if system.details.stackable}}
        <h5>{{localize "PC.stack"}}</h5>
        <input
          name="system.details.stackMax"
          type="Number"
          value="{{system.details.stackMax}}"
          data-dtype="Number"
        />
      {{else}}
        <h5>{{localize "PC.stack"}}</h5>
        <div class="not-available">{{system.details.stackMax}}</div>
      {{/if}}
    </div>
  </div>

  <div class="keyword-title-line">
    <a data-action="keywordPicker">{{localize "PC.keywords"}}
      <i class="fa-regular fa-plus"></i>
    </a></div>
  <div class="item-info-config item-keywords-config">
    {{#each system.keywords}}
      <div class="pc-keyword">
        {{localize (concat "PC.keyword." @key)}}{{#if this}} {{this}}{{/if}}
        <a data-action="cutKeyword" data-keyword="{{@key}}">
          <i class="fa-regular fa-eraser"></i></a>
      </div>
    {{/each}}
  </div>
</section>