{{! Action picker window }}

<section class="action-picker">
  <div class="item-line">
    <img class="icon-mid" src="{{tech.img}}" width="24" height="24" />
    <div class="item-title">
      <h4>{{tech.name}}</h4>
    </div>
    <div class="item-keywords">
      {{#each tech.system.keywords}}
        {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </div>
  </div>
  <p class="info-desc">Selecione a ação com a qual deseja realizar Técnica</p>
  <ol>
    {{#each choices}}
      <li class="item-block">
        <div class="item-line">
          <img class="icon-mid" src="{{item.img}}" width="24" height="24" />
          <div class="item-title">
            <h4>{{item.name}}</h4>
          </div>

          <div class="item-keywords">
            {{#each item.system.keywords}}
              {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
            {{/each}}
            {{#each item.system.actions}}
              {{#each this.keywords}}
                {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
              {{/each}}
            {{/each}}
          </div>
        </div>

        <ol class="gear-actions">
          {{#each actions}}
            <li class="inline-action">
              <span
                class="inline-head"
                data-action="selectAction"
                data-gear-ac-id="{{this._id}}"
                data-gear-id="{{../this.item._id}}"
              >
                <img
                  class="inline-icon"
                  src="{{this.img}}"
                  width="16"
                  height="16"
                />
                <span class="inline-action-name">{{this.name}}</span>

                {{#if (not (isEmpty this.keywords))}}
                  <span class="item-keywords">
                    {{#each this.keywords}}
                      {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
                    {{/each}}
                  </span>
                {{/if}}
                {{#if (and this.skill (not this.subtype))}}
                  <span class="inline-value inline-skill">
                    ({{localize (concat "PC.skills." this.skill)}})
                  </span>
                {{/if}}
                {{#if (and (not this.skill) this.subtype)}}
                  <span class="inline-value inline-skill">
                    ({{localize
                      (concat "PC.action.types.attack.subtype." this.subtype)
                    }})
                  </span>
                {{/if}}
                {{#if (and this.skill this.subtype)}}
                  <span class="inline-value inline-skill">
                    ({{localize (concat "PC.skills." this.skill)}}
                    |
                    {{localize
                      (concat "PC.action.types.attack.subtype." this.subtype)
                    }})
                  </span>
                {{/if}}
                {{#if this.usage}}
                  <span class="inline-label">{{localize
                      "PC.action.types.use.label"
                    }}</span>
                  <span class="inline-value">{{this.usage}}</span>
                {{/if}}
                {{#if this.effort}}
                  <span class="inline-label">{{localize "PC.effort.abv"}}</span>
                  <span class="inline-value">{{this.effort}}</span>
                {{/if}}
                {{#if this.prepTime}}
                  <span class="inline-label">{{localize
                      "PC.prepTime.abv"
                    }}</span>
                  <span class="inline-value">{{this.prepTime}}</span>
                {{/if}}
                {{#if this.difficulty}}
                  <span class="inline-label">{{localize
                      "PC.difficulty.label"
                    }}</span>
                  <span class="inline-value">{{this.difficulty}}</span>
                {{/if}}
                {{#if this.range}}
                  <span class="inline-label">{{localize
                      "PC.range.label"
                    }}</span>
                  <span class="inline-value">{{this.range}}</span>
                {{/if}}
                {{#if this.damaging}}
                  <span class="inline-label">{{localize "PC.damage"}}</span>
                  <span class="inline-value">{{this.damage.dmgTxt}}</span>
                {{/if}}
                {{#if this.effect}}
                  <span class="inline-label">{{localize "PC.effect"}}</span>
                  <span class="inline-value">{{this.effect}}</span>
                {{/if}}
                {{#if this.duration}}
                  <span class="inline-label">{{localize
                      "PC.duration.label"
                    }}</span>
                  <span class="inline-value">{{this.duration}}</span>
                {{/if}}
              </span>
            </li>
          {{/each}}
        </ol>
      </li>
    {{/each}}
  </ol>
</section>