{{! Ammo picker }}

<section class="action-picker ammo-picker">
  <div class="item-line">
    <img class="icon-mid" src="{{item.img}}" width="24" height="24" />
    <div class="item-title">
      <h4>{{item.name}}</h4>
    </div>
    <div class="item-keywords">
      {{#each item.system.keywords}}
        {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </div>
  </div>
  <p class="info-desc">Selecione a munição a ser utilizada pelo Equipamento</p>
  <ol>
    {{#each choices}}
      <li class="inline-item">
        <span
          class="inline-head"
          data-action="selectAmmo"
          data-ammo-id="{{this._id}}"
        >
          <img class="inline-icon" src="{{this.img}}" width="24" height="24" />
          <span class="inline-title">
            {{this.name}}
          </span>

          <span class="item-keywords">
            {{#each this.system.keywords}}
              {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
            {{/each}}
          </span>

          {{#if this.system.damage}}
            <span class="inline-label">{{localize "PC.damage"}}</span>
            <span class="inline-value">
              {{numberFormat this.system.damage.dmgBase sign=true}}
            </span>
            {{#unless (eq this.system.damage.dmgType "none")}}
              <span class="inline-value">
                {{localize (concat "PC.dmgType." this.system.damage.dmgType ".abv")}}
              </span>
            {{/unless}}
          {{/if}}
          {{#if this.system.effect}}
            <span class="inline-label">{{localize "PC.effect"}}</span>
            <span class="inline-value">{{this.system.effect}}</span>
          {{/if}}
          <span class="inline-label">{{localize "PC.stock"}}</span>
          <span class="inline-value">{{this.system.details.stack}}</span>
        </span>
      </li>
    {{/each}}
  </ol>
</section>