{{! Persona configuration window }}

<section class="persona-config">
  <h3>{{localize "PC.configPersona"}}</h3>
  <p>MESSAGE HERE</p>
  <div class="flexrow">
    Origem
    <select name="system.info.origin">
      {{selectOptions config.origins selected=system.info.origin localize=true}}
    </select>
    / cultura
    <select name="system.info.culture">
      {{selectOptions
        config.cultures
        selected=system.info.culture
        localize=true
      }}
    </select>
    / persona
    <select name="system.info.persona">
      {{selectOptions
        config.personas
        selected=system.info.persona
        localize=true
      }}
    </select>
  </div>
  <div class="flexrow">
    {{#each system.attributes as |attribute obj|}}
      <div class="flexcol"><h4>{{localize
            (concat "PC.attributes." obj ".abv")
          }}</h4>
        <input
          type="String"
          data-dtype="Number"
          name="system.attributes.{{@key}}.adjust"
          value="{{attribute.adjust}}"
        /></div>
    {{/each}}
  </div>
  <div class="sub-config">
    {{#each system.subattributes as |sub obj|}}
      <div class="sub-config-item">
        <h4>{{localize (concat "PC.subattributes." obj ".abv")}}</h4>
        <input
          type="String"
          data-dtype="Number"
          name="system.subattributes.{{@key}}.adjust"
          value="{{sub.adjust}}"
        />
      </div>
    {{/each}}
    <div class="sub-config-item">
      <h4>{{localize "PC.luck"}}</h4>
      <input
        class="luck-max"
        name="system.luck.max"
        type="Number"
        value="{{system.luck.max}}"
        data-dtype="Number"
      />
    </div>
    {{#each system.minors as |minor obj|}}
      <div class="sub-config-item">
        <h4>{{localize (concat "PC.minors." obj ".abv")}}</h4>
        <input
          type="String"
          data-dtype="Number"
          name="system.minors.{{@key}}.adjust"
          value="{{minor.adjust}}"
        />
      </div>
    {{/each}}
  </div>
  <div class="flexrow">
    {{#each config.categories as |category objs|}}
      <ul class="flexcol">
        {{#each (lookup @root.config objs) as |sk obj|}}
          {{#with (lookup @root.system.skills obj) as |skill|}}
            <li class="flexrow">
              <input
                class="favor-box"
                type="checkbox"
                data-dtype="Boolean"
                name="system.skills.{{obj}}.favored"
                {{checked skill.favored}}
              />
              {{localize sk.label}}{{#if skill.favorable}}!{{/if}}
            </li>
          {{/with}}
        {{/each}}
      </ul>
    {{/each}}
  </div>
</section>